
<div class="container apply">
<div class="row">
    <div class="div_left col-md-3">
        <div style="background:#3a6fb3;height:60px;font-size:36px;margin-top:15px;color:#ffffff;width:100%;text-align:center;line-height:60px;font-family:方正粗倩简体;">申请借记卡</div>
        <div style="margin-left:30px;margin-top:45px;width:194px;height:121px;background:url('image/2101.png');"></div>
        <div style="margin-top:50px;"><font style="color:#3c6eb5;font-size:24px;font-family:方正粗倩简体;"><label id="cusName"></label></font>
        客户<font style="color:#6b6f72;font-family:微软雅黑; font-size:18px;">您好！</font></div>

        <div style="margin-top:25px;color:#6b6f72;font-family:微软雅黑; font-size:18px;">欢迎使用<br/>江苏农村商业银行发卡机</div>

        <div id="quit" class="btn_return" style="font-family:方正粗倩简体;margin-top:280px;">退 出</div>
    </div>
    <div class="div_right col-md-9">
        <div class="indicates">
            <h1>正在提交信息，请稍候......</h1>
    	</div>

    	<div class="step">
             <i style="color:#000000" class="fa fa-spinner fa-spin fa-5x text-primary" ></i>
    	</div>
    </div>
</div>
</div>
