
<div style="background:#3a6fb3;height:60px;font-size:36px;margin-top:15px;color:#ffffff;width:100%;text-align:center;line-height:60px;font-family:方正粗倩简体;">{{pool.viewLeftTitle}}</div>

<div id="BackImg" style="margin-left:30px;margin-top:45px;width:194px;height:141px;background:url('image/2101.png') no-repeat;"></div>

<div style="font-size:17px; margin-top:20px;color:#4e5792; font-weight:700;"><label id="card1"></label>{{pool.viewCardNo}}</div>

<div style="margin-top:40px;"><font style="color:#3c6eb5;font-size:24px;font-family:方正粗倩简体;"><label id="cusName">{{pool.viewCustomerName}}</label></font>
&nbsp;&nbsp;<font style="color:#6b6f72;font-family:微软雅黑; font-size:18px;">您好！</font></div>

<div style="margin-top:25px;color:#6b6f72;font-family:微软雅黑; font-size:18px;">欢迎使用<br/>江苏农村商业银行发卡机</div>

<div class="btn_return" id="quit" ng-click="action('return')">退 出</div>
