<!DOCTYPE html>
<html lang="zh-cn">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>系统管理</title>
    <link rel="stylesheet" href="bower_components/metro/build/css/metro.min.css">
    <link rel="stylesheet" href="bower_components/metro/build/css/metro-icons.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/main.css"/>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/metro/build/js/metro.min.js"></script>
</head>
<body>

        <h1 class="tile-area-title fg-white">江苏农村商业银行</h1>

        <div class="tile-group double">
            <span class="tile-group-title">账户服务</span>

            <div class="tile-container">
                <div class="tile bg-darkIndigo fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/mimaxiugai.png" class="icon">
                    </div>
                    <span class="tile-label">修改密码</span>
                </div>

               <div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhanghuchaxun.png" class="icon">
                    </div>
                    <span class="tile-label">修改客户信息</span>
                </div>

				<div class="tile-wide bg-lightBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhanghufuwu.png" class="icon">
                    </div>
                    <div class="tile-label">余额明细查询</div>
                </div>

				<div class="tile bg-darkOrange fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/cunzhebudeng.png" class="icon">
                    </div>
                    <span class="tile-label">存折补登</span>
                </div>

				<div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/xinxichaxun.png" class="icon">
                    </div>
                    <span class="tile-label">银行信息查询</span>
                </div>
            </div>
        </div>

        <div class="tile-group double">
            <span class="tile-group-title">投资理财</span>
            <div class="tile-container">
				<div class="tile-wide bg-darkOrange fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/dingqifuwu.png" class="icon">
                    </div>
                    <div class="tile-label">定期业务</div>
                </div>

				<div class="tile bg-green fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/licaiyewu.png" class="icon">
                    </div>
                    <span class="tile-label">理财产品</span>
                </div>

				<div class="tile bg-darkMagenta fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/jijinyewu.png" class="icon">
                    </div>
                    <span class="tile-label">基金产品</span>
                </div>

				<div class="tile-wide bg-lightBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhuanzhanghuikuan.png" class="icon">
                    </div>
                    <div class="tile-label">转账汇款</div>
                </div>

			</div>
		</div>

        <div class="tile-group double">
            <span class="tile-group-title">账户服务</span>

            <div class="tile-container">
                <div class="tile bg-darkIndigo fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/mimaxiugai.png" class="icon">
                    </div>
                    <span class="tile-label">修改密码</span>
                </div>

               <div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhanghuchaxun.png" class="icon">
                    </div>
                    <span class="tile-label">修改客户信息</span>
                </div>

				<div class="tile-wide bg-lightBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhanghufuwu.png" class="icon">
                    </div>
                    <div class="tile-label">余额明细查询</div>
                </div>

				<div class="tile bg-darkOrange fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/cunzhebudeng.png" class="icon">
                    </div>
                    <span class="tile-label">存折补登</span>
                </div>

				<div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/xinxichaxun.png" class="icon">
                    </div>
                    <span class="tile-label">银行信息查询</span>
                </div>
            </div>
        </div>

        <div class="tile-group double">
            <span class="tile-group-title">投资理财</span>
            <div class="tile-container">
				<div class="tile-wide bg-darkOrange fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/dingqifuwu.png" class="icon">
                    </div>
                    <div class="tile-label">定期业务</div>
                </div>

				<div class="tile bg-green fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/licaiyewu.png" class="icon">
                    </div>
                    <span class="tile-label">理财产品</span>
                </div>

				<div class="tile bg-darkMagenta fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/jijinyewu.png" class="icon">
                    </div>
                    <span class="tile-label">基金产品</span>
                </div>

				<div class="tile-wide bg-lightBlue fg-white" data-role="tile" onclick="document.location.href=''">
                    <div class="tile-content iconic">
                        <img src="image/zhuanzhanghuikuan.png" class="icon">
                    </div>
                    <div class="tile-label">转账汇款</div>
                </div>

			</div>
		</div>

		<div class="tile-group double">
            <span class="tile-group-title">生活服务</span>
            <div class="tile-container">
				<div class="tile bg-green fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/gongjijinchaxun.png" class="icon">
                    </div>
						<span class="tile-label">公积金查询</span>
				</div>

				<div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href=''">
					<div class="tile-content iconic">
                        <img src="image/gongyongjiaofei.png" class="icon">
                    </div>
					<span class="tile-label">公共事业缴费</span>
				</div>

           </div>

        </div>

<!--
   <footer class="footer">
      <div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="" ng-click="skip()"><i class="fa fa-play"></i>skip</a>
				<a href="index.html#/pages"><i class="fa fa-bars"></i>index</a>
				<a href="index.html#/pages/home"><i class="fa fa-bank"></i>home</a>
                <a href="admin.html#/pages/admin/admin"><i class="fa fa-bars"></i>admin</a>
				<a href="metro.html"><i class="fa fa-bank"></i>磁贴界面</a>
			</div>

			<p class="col-md-6 text-right">
				<i class="fa fa-copyright"></i> 2015 YIHUA Computer All Rights Reserved.
				<button type="button" ng-click="skip()"><i class="fa fa-play"></i>skip</button>
			</p>
		</div>
      </div>
    </footer>
-->
</body>
</html>
