
<script>
document.getElementById("MUSIC1").src = "wav/SystemProcessing.wav";
  creatTree(0,"视频审核");
  BrowserCallback("key.anyChatCA1001");
</script>
<div class="container indicates">
  <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="container step col-xs-offset-o col-xs-12 head-positiony">
	<h1 class="text-center">正在发送业务流水并等待拍照,请稍候.....</h1>
	
	<i style="color:#000000" class="fa fa-spinner fa-spin fa-5x text-primary" ></i>
   
</div>
