<script>
creatTree(0,"阅读协议");
</script>
<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }


</style>
<div class="container indicates">
    		<span class="timeout pull-right">{{timeout}}</span>
</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin-top:0%;border:0px blue solid; background: url(image/texteara.png) ">
     
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">阅读协议</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">江苏农村商业银行借记卡协议</h4>
 
        <div class=" terms step ">  
                     
    	<p class="ment">
      　　　第一条 圆鼎卡是农信银行向个人发行的一种支付结算工具。它具有存取现金、转账结算、购物消费、电子银行、个人贷款、投资理财和代缴费等各种功能。<br/>
      　　　第二条 圆鼎卡为人民币借记卡，必须先存后支，不提供透支服务。申办圆鼎卡，无需提供任何担保。<br/>
      　　　第三条 圆鼎卡按介质类型分为磁条卡、芯片卡和磁条芯片复合卡（以下芯片卡和磁条芯片复合卡统称IC卡）。持卡人可在具备相应功能的设备上使用IC卡进行交易。<br/>
      　　　第四条 圆鼎卡发行对象为符合发卡银行规定申领条件的中国境内自然人（包括中国公民、境内的外籍人士、港澳台同胞）。圆鼎卡申领应符合国家实名制有关规定，开户应采用实名。<br/>
      　　　第五条 申领人申办圆鼎卡时，应按规定填写申请表，申请表所具之各项资信资料必须真实可靠，经发卡银行审查后，申请人本人在申请表上签字，即表示知悉发卡银行有关规定、对所填内容的真实性负责以及确认履行发卡银行相关规定，并遵守本章程。发卡银行对符合申领条件的申请人予以发卡。<br/>
      　　　第六条 无民事行为能力或限制民事行为能力的自然人，在使用圆鼎卡时，应征得其法定代理人同意，且发卡银行有权认为此行为已事先取得其法定代理人的同意；在进行卡片申领、挂失、换卡等特殊业务时，应由其法定代理人代办。此类持卡人的用卡行为及交易责任由法定代理人负责。<br/>
      　　　第七条 申领圆鼎卡需在发卡银行开立个人活期结算账户。<br/>
      　　　第八条 持卡人可凭圆鼎卡和密码申请开通网上银行、电话银行和手机银行等电子银行服务。持卡人办理电子银行业务须同时遵守发卡银行关于电子银行业务的相关规定。<br/>
      　　　第九条 持卡人可持具备电子现金功能的IC卡办理电子现金业务。电子现金业务是指发卡行根据持卡人要求将现金或账户存款转至芯片内储存，交易时直接从芯片内扣款的业务。电子现金具有小额脱机消费、圈存及查询等功能，但不提供提取现金、转账等其他支付结算服务。电子现金视同现金管理，不计息，不挂失。<br/>
      　　　第十条 申请圆鼎卡必须设定密码。持卡人使用圆鼎卡办理消费结算、取款、转账汇款等业务须凭密码进行（IC卡电子现金交易除外）。<br/>
      　　　第十一条 IC卡电子现金交易不设交易密码，电子现金最高余额不得超过人民银行规定的最高限额。凡使用IC卡电子现金进行的交易均视为持卡人本人所为。持卡人因IC卡保管不善造成的损失，发卡银行不承担责任。<br/>
      　　　第十二条 持卡人要牢记和妥善保管密码，如遗忘可持圆鼎卡和本人有效身份证件到农信银行所属各储蓄网点办理密码挂失手续（无需换卡）。凡持卡人因密码保管不善造成经济损失的，由持卡人自负。<br/>
      　　　第十三条 圆鼎卡及其账户只供持卡人本人使用，不得出租、转借。圆鼎卡应妥善保管，如不慎遗失，可持本人有效身份证件到发卡网点办理挂失手续（IC卡电子现金除外，发卡银行不受理IC卡电子现金的挂失）。如遇特殊情况，持卡人可先向农信银行任何一个储蓄网点办理口头挂失。口头挂失后，持卡人必须在五日内，持本人有效身份证件到发卡网点补办书面正式挂失手续，过期则口头挂失失效。<br/>
      　　　第十四条 磁条卡不设有效期，IC卡设置有效期。圆鼎卡因功能升级、损坏、变形、记录消失或到期等原因需要换卡时，持卡人应持圆鼎卡和本人有效身份证件到发卡银行办理换卡手续。<br/>
      　　　第十五条 持卡人因故终止使用圆鼎卡时，可持圆鼎卡和本人有效身份证件到发卡银行办理销卡手续。<br/>
      　　　第十六条 圆鼎卡账户内的各项存款按人民银行公布的相应储蓄存款利率计付利息（IC卡电子现金账户除外），如遇储蓄存款利率调整则按相应储蓄存款利率的有关规定执行。<br/>
      　　　第十七条 发卡银行根据国家相关法律、法规和规章制定借记卡服务收费项目和收费标准。收费项目和收费标准可在营业网点等渠道查询。持卡人须按发卡银行规定的收费项目、收费标准和缴费方式缴纳相关费用。借记卡收费项目、收费标准如有变动，以发卡银行最新公告为准。<br/>
      　　　第十八条 持卡人具有以下权利和义务：<br/>
      　　　         　　　   (一) 持卡人凭有效圆鼎卡可按规定办理现金存取、转账结算、消费以及投资理财等，若遇拒绝办理受卡业务，持卡人有权向发卡银行或其上级主管部门投诉。<br/>
      　　　         　　　   (二) 持卡人有权依相关规定到农信银行各网点或通过自助设备、网上银行查询本人卡内账户余额、交易明细、打印交易记录清单。如对交易记录有疑问，有权向发卡银行查询核对。<br/>
      　　　         　　　   (三) 圆鼎卡挂失生效前以及挂失失效后，持卡人自行承担账户资金发生变动的责任。圆鼎卡挂失生效后，持卡人不再承担相应账户资金变动的责任（IC卡电子现金账户除外），国家法律、法规另有规定的除外。<br/>
      　　　         　　　   (四) 圆鼎卡仅限于本人使用，不得出租、转让或转借。持卡人在ATM机上存取现金和在圆鼎卡特约商户或POS机上办理消费或转账业务时，必须遵守发卡银行的有关规定。<br/>
      　　　         　　　   (五)圆鼎卡必须凭密码使用（IC卡电子现金交易除外），申领人在领取圆鼎卡时必须输入密码。<br/>
      　　　         　　　   (六)持卡人领卡后或换卡时，须在新卡背面持卡人签名条上亲笔签名。如本人有关信息资料有变更时，必须及时、据实地向发卡银行提出书面申请，否则因信息资料变化而引发的全部责任由持卡人承担。<br/>
      　　　         　　　   (七)持卡人需注销圆鼎卡时，应持本人有效身份证件向发卡银行提出书面申请并交回圆鼎卡。<br/>
      　　　         　　　   (八)持卡人应遵守本章程及有关规定，如属违章、违规使用圆鼎卡而产生的风险、损失由持卡人承担全部责任。<br/>
      　　　第十九条 发卡银行具有以下权力和义务<br/>
      　　　         　　　   (一) 发卡银行要依照国家法律、法规、规章和本章程等相关规定保护持卡人的合法权益，为持卡人提供优质、快捷、安全的服务。<br/>
      　　　         　　　   (二) 当持卡人要求查询本人卡内账户余额、交易明细或要求打印交易记录对账单时，银行必须及时为持卡人提供服务。<br/>
      　　　         　　　   (三) 发卡银行依法对持卡人的信息承担保密义务，未经当事人同意不得向任何单位或个人披露，但法律、法规和规章另有规定，或者持卡人与发卡银行另有约定的除外。<br/>
      　　　         　　　   (四) 持卡人如违反本章程及相关规定时，发卡银行有权取消持卡人的使用资格并收回圆鼎卡。<br/>
      　　　         　　　   (五) 对虚假挂失及伪造圆鼎卡；使用伪造或作废的圆鼎卡；冒用他人圆鼎卡等诈骗行为，发卡银行有权申请法律保护并依法追究非法持卡人或有关当事人的经济责任和法律责任。<br/>
                第二十条 本章程由农信银行制定、修改和解释，向国家有关部门备案后执行。修改时将在相关营业场所公告，自公告之日起30日后生效，对双方产生约束力。持卡人不接受该修改，可在公告期间内办理销户手续。超过公告期间仍未办理销户手续的，视为持卡人接受本章程的修改。<br/>
    		</p></div>
			
		</div>
	
		<div class="cook-foot col-xs-offset-0 col-xs-11">
			<button  type="button" class="col-xs-offset-6 col-xs-2 image-btor"  ng-click="action('return')">返回</button>
		</div>