<script>
creatTree(0,"");
</script>
<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }


</style>
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin-top:0%;border:0px blue solid; background: url(image/texteara.png) ">
     
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">防范电信诈骗告知书</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">开设个人银行结算账户涉通讯网络新型违法犯罪法律责任及防范提示告知书</h4>
 
        <div class=" terms step ">  
                     
    	<p class="ment">
      　　为保证合法、规范开立和使用个人人民币银行结算账户，根据相关法律法规，个人人民币银行结算账户开户申请人（以下简称“甲方”）与开办江苏省农村信用社联合社个人人民币银行结算账户的法人机构（以下简称“乙方”）就乙方提供的个人人民币银行结算账户开户服务相关事宜达成本协议，协议双方应予遵守。<br/>
      　　一、自然人申请开立个人账户时，应按照现行账户管理制度规定提供真实有效身份证件，并如实填写个人相关信息。违者将按相关账户管理制度规定进行处罚;构成犯罪的，移交司法机关依法追究刑事责任。<br/>
      　　二、自然人申请开立个人账户时，严禁假冒他人身份或者虚构代理关系开立银行账户，自然人应妥善保管自身名下所有账户，充分了解账户管理和使用风险，严禁出租、出借、出售、贿买银行账户。违者将按相关账户管理制度规定， 5年内暂停其个人账户非柜面业务， 3年内不得为其新开立账户，同时其个人信息将被移送金融信用信息基础数据库并向社会公布。<br/>
	  　　三、对明知他人实施电信网络诈骗犯罪，提供信用卡、资金支付结算账户的个人，根据相关法律制度规定，以共同犯罪论处。<br/>
	  　　四、自然人申请开立个人账户时务必提高防范通讯网络新型违法犯罪意识，如遇到以下情形，应立即停止开户，并向银行工作人员提出帮助请求:<br/>
	  　　　(一)自称"公安、检察、法院、海关"等各类执法人员，要求你将资金转移至"安全账户"的;<br/>
      　　　(二)自称你的"家人、朋友、熟人、领导、老师、医生、恋人"等各类关系人，要求你进行存钱、汇款或转账的;<br/>
      　　　(三)自称可以为你办理"退货、退税、退票、发放补贴、领奖、积分兑换、提高信用卡额度、刷信誉返利、低息高额贷款"等各类"获利"行为，要求你进行存钱、汇款或转账的;<br/>
      　　　(四)使用"举报信、 PS照片、黑社会报复"等各类威胁手段，要求你进行存钱、汇款或转账的。<br/>
      　　　(五)其他可疑情形。<br/>
	  　　五、如有任何涉通讯网络新型违法犯罪疑问，请咨询江苏省反通讯网络诈骗中心的 24小时专线 025-83526546。
    		</p></div>
			
		</div>
	
		
	    <div class="cook-foot col-xs-offset-0 col-xs-12">
    	    <button  type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">我 不 同 意</button>
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">阅读并同意</button>
	    </div>