<script>
creatTree(0,"阅读协议");
</script>
<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }


</style>
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin-top:0%;border:0px blue solid; background: url(image/texteara.png) ">
     
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">阅读协议</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">江苏省农村信用社联合社个人人民币银行结算账户管理协议</h4>
 
        <div class=" terms step ">  
                     
    	<p class="ment">
      　　为保证合法、规范开立和使用个人人民币银行结算账户，根据相关法律法规，个人人民币银行结算账户开户申请人（以下简称“甲方”）与开办江苏省农村信用社联合社个人人民币银行结算账户的法人机构（以下简称“乙方”）就乙方提供的个人人民币银行结算账户开户服务相关事宜达成本协议，协议双方应予遵守。<br/>
      　　第一条 本协议所称个人人民币银行结算账户（以下简称个人银行账户，不含信用卡）划分为三类，即Ⅰ类银行账户、Ⅱ类银行账户和Ⅲ类银行账户（以下分别简称Ⅰ类户、Ⅱ类户和Ⅲ类户）。<br/>
      　　Ⅰ类户：乙方通过Ⅰ类户为甲方提供存款、购买投资理财产品等金融产品、转账、消费和缴费支付、存取现金等服务。<br/>
	  　　Ⅱ类户：乙方通过Ⅱ类户为甲方提供存款、购买投资理财产品等金融产品、限额的消费和缴费支付、限额向非绑定账户转出资金、发放和归还本行贷款等服务。经乙方工作人员通过柜面、自助机具现场面对面确认身份的，可以办理存取现金、非绑定账户资金转入业务，可以配发银行卡实体卡片（直销银行开立的除外）。<br/>
	  　　Ⅲ类户：乙方通过Ⅲ类户为甲方提供限额消费和缴费支付、限额向非绑定账户转出资金等服务。经乙方柜面、自助机具加以工作人员现场面对面确认身份的Ⅲ类户可以办理非绑定账户资金转入业务；经乙方非柜面渠道自助开立账户的，甲方应从绑定Ⅰ类户向Ⅲ类户转入限定金额的方式激活账户，激活后只可选择一个Ⅲ类户办理非绑定账户资金转入业务，Ⅲ类户任一时点余额不得超过人民币2000元。<br/>
	  　　第二条 甲方在乙方开立、使用和撤销个人银行账户应遵守乙方有关规定，并按规定支付相关服务费。具体收费项目和收费标准以乙方公布或公告为准。<br/>
      　　第三条 甲方申请在乙方开立个人银行账户，应按照《个人存款账户实名制规定》等相关监管规定，向乙方提交相应的证明文件，并接受乙方审核。甲方同意按照乙方要求提供有关客户身份信息，如姓名、性别、国籍、职业、住所地或者工作单位地址、联系方式，身份证件或者身份证明文件的种类、号码和有效期限、税收居民身份等，甲方承诺所提供的开户资料信息真实、合法、有效。如有伪造、欺诈，需承担相应法律责任。代理他人开户的，还需出具代理人的有效身份证件及合法的委托书。<br/>
      　　第四条 甲方在乙方留存的联系电话号码应与个人身份证件号码一一对应，如甲方留存的联系电话号码存在多人使用且无法证明其合理性的，乙方有权对甲方相关银行账户暂停非柜面业务。<br/>
      　　第五条 乙方应依法为甲方在乙方开立的个人银行账户的存款和有关资料保密。除国家法律另有规定外，乙方有权拒绝任何单位或个人查询、冻结、扣划。<br/>
      　　第六条 甲方授权乙方可以按照国家（国际）税务申报要求向有关机构报送甲方的相关信息。<br/>
      　　第七条 甲方可以凭本人有效身份证件在乙方开立Ⅰ类户、Ⅱ类户和Ⅲ类户；其中通过非柜面渠道开立个人银行账户的，甲方只能持本人有效居民身份证办理。<br/>
      　　第八条 甲方经自助机具开立Ⅰ类户的，需经乙方工作人员现场面对面审核身份。甲方通过非面对面方式开立Ⅱ、Ⅲ类户时，承诺登记验证的手机号码与绑定账户使用的手机号码保持一致。<br/>
      　　第九条 甲方通过非面对面方式开立Ⅱ类户或Ⅲ类户时，甲方须提供本人在银行业金融机构同名Ⅰ类户或信用卡账户进行身份验证并绑定。<br/>
      　　第十条 甲方通过非面对面方式开立的Ⅱ类户的验证信息应当至少包括开户申请人姓名、居民身份证号码、手机号码、绑定账户账号(卡号)、绑定账户是否为Ⅰ类户或者信用卡账户等5个要素。甲方通过非面对面方式开立的Ⅲ类户的验证信息应当至少包括开户申请人姓名、居民身份证号码、手机号码、绑定账户账号(卡号)等4个要素。<br/>
      　　第十一条 甲方在乙方只能开立一个Ⅰ类户，已开立Ⅰ类户，再新开户的，应开立Ⅱ类户或Ⅲ类户，Ⅱ类户、Ⅲ类户的数量分别不得超过5个。<br/>
      　　第十二条 有下列情形之一的，乙方有权拒绝为甲方开立个人银行账户：<br/>
	  　　1.对甲方身份信息存在疑义，要求出示辅助证件，甲方拒绝出示的；<br/>
	  　　2.甲方组织他人同时或者分批开立账户的；<br/>
	  　　3.有明显理由怀疑开立账户从事违法犯罪活动的；<br/>
	  　　4.法律法规规定的其他情形。<br/>
      　　第十三条 为保障甲方账户资金安全，乙方有权根据法律法规及自身风险管理的要求，对Ⅱ、Ⅲ类户的转账、消费和缴费等业务设置限额。<br/>
      　　Ⅱ类户非绑定账户转入资金、存入现金日累计限额合计为1万元，年累计限额合计为20万元；消费和缴费、向非绑定账户转出资金、取出现金日累计限额合计为1万元，年累计限额合计为20万元；发放贷款和贷款资金归还不受转账限额规定。<br/>
	  　　Ⅲ类户非绑定账户资金转入日累计限额合计为2000元，年累计限额合计为5万元；消费和缴费支付、非绑定账户资金转出等出金日累计限额合计为2000元，年累计限额合计为5万元。<br/>
	  　　乙方为甲方非面对面开立的Ⅱ、Ⅲ类户向本人同名支付账户充值的，充值资金可提回Ⅱ、Ⅲ类户，但提现金额不得超过该Ⅱ、Ⅲ类户向支付账户的原充值金额。除充值资金提回外，支付账户不得向Ⅱ、Ⅲ类户入金，但允许非绑定账户入金的Ⅱ、Ⅲ类户除外。<br/>　　
	  　　第十四条 甲方申请开通非柜面转账业务的，乙方与甲方约定非柜面渠道向非同名银行账户和支付账户转账的日累计限额、笔数和年累计限额等，超出限额和笔数的，应当到银行柜面办理。Ⅱ、Ⅲ类户限额不得超过前款规定的上限。<br/>
      　　第十五条 甲方主动与乙方核对账务的，乙方应予以配合。甲方个人银行账户的未登折业务，账户实际金额及交易情况以乙方记账为准。乙方定期对未登折交易记录的打印信息做并笔处理，甲方可至乙方柜台查询实际发生的交易明细。<br/>
      　　第十六条 出现错账时，乙方将根据实际交易情况进行账务处理。甲方获得不当得利的，为节省甲方时间、维护甲方利益，在不损害甲方合法权益的情况下，乙方可以止付或扣划相关款项。<br/>
      　　第十七条 甲方应妥善保管账户介质、密码、本人有效身份证件及有关业务凭证等，对于预留密码的账户，凡使用正确密码进行的交易均视为甲方亲自办理。<br/>
      　　第十八条 账户介质遗失、被盗，或交易密码泄露、被改、遗忘时，甲方应尽快向乙方申请挂失，若挂失生效前或挂失失效后资金被他人盗用、支取，乙方不承担责任。<br/>
      　　第十九条 甲方的个人银行账户自开户之日起6个月内无交易记录，乙方有权暂停其非柜面业务，待乙方重新核实甲方身份后，可以恢复其业务。交易记录是指甲方主动发起的资金收付业务。<br/>
      　　第二十条 乙方认定甲方个人银行账户及其资金划转具有集中转入、分散转出等可疑交易特征的，有权暂停该账户非柜面业务。<br/>
	  　　第二十一条 甲方不得出租、出借、出售在乙方开立的个人银行账户。甲方被设区的市级及以上公安机关认定为出租、出借、出售、购买银行账户，假冒他人身份或者虚构代理关系开立个人银行账户的，乙方有权在公安机关认定之日起5年内暂停其个人银行账户非柜面业务，3年内不为其新开立个人银行账户。<br/>
	  　　第二十二条 甲方不得冒用他人身份开立个人银行账户，乙方发现甲方个人银行账户为假名、冒名或虚假代理开立的，将立即停止该账户的使用，并在征得被冒用人或被代理人同意后予以销户，账户资金列入乙方久悬未取专户管理。<br/>
	  　　第二十三条 甲方的个人银行账户被设区的市级及以上公安机关认定并纳入电信网络新型违法犯罪交易风险事件管理平台“涉案账户”名单的，乙方有权中止该账户所有业务。乙方将通知甲方重新核实身份，如甲方未在3日内向乙方重新核实身份，乙方有权对其名下其他银行账户暂停非柜面业务，待重新核实身份后恢复除涉案账户外的其他账户业务。<br/>
	  　　第二十四条 如乙方有合理理由怀疑甲方从事洗钱、恐怖融资或其他非法活动，或者甲方或其交易等被列入国际组织、中国或其他国家发布的制裁名单或制裁范围，乙方有权中止或终止为甲方提供服务，或者限制为甲方提供服务的范围。<br/>
	  　　第二十五条 甲方的姓名、性别、国籍、职业、住所地或者工作单位地址、联系方式，身份证件或者身份证明文件的种类、号码和有效期限、税收居民身份等信息发生变更的，甲方应及时告知乙方进行更新，未完成信息变更的，乙方有权暂停甲方相关账户非柜面业务。<br/>
	  　　第二十六条 乙方为甲方提供账户信息变更服务，甲方按照乙方新开户要求重新验证信息，并配合乙方核实个人变更信息的真实意愿。<br/>
	  　　第二十七条 乙方为甲方提供不同个人银行账户的升级和降级服务，甲方需本人持有效身份证件至乙方任意网点办理，账户升级或降级后数量不超过前款规定。升级和降级服务范围、开办时间及业务流程以乙方规定为准。<br/>
	  　　第二十八条 甲方撤销在乙方开立的个人银行账户，必须解除相关签约信息、结清定期存款、赎回投资理财等金融产品后方可办理销户。<br/>
	  　　第二十九条 Ⅰ类户销户时，绑定的Ⅱ、Ⅲ类户未销户的，甲方应先解除绑定关系后再销户。通过非面对面方式办理Ⅱ、Ⅲ类户销户时，绑定账户已销户的，甲方同意按照乙方新开立账户要求重新验证个人身份信息后绑定新的账户，将Ⅱ、Ⅲ类户资金转回新绑定账户后再办理销户。<br/>
	  　　第三十条 甲方同意遵守乙方长期不动户、零余额账户的有关规定。经乙方以适当方式提前公告后，符合条件的长期不动户、零余额账户，乙方有权终止提供服务并予以销户。<br/>
	  　　第三十一条 乙方有权基于执行国家法律法规、维护客户权益、保障交易安全、进行系统升级、提升服务质量等原因变更本协议，新协议将通过营业场所或网站等途径公告，无须另行通知。公告期内，甲方可以选择是否继续使用个人银行账户，甲方如不同意有关变更，可按照规定进行销户，继续使用个人银行账户的，视为甲方同意有关变更，公告期满即为生效。<br/>
	  　　第三十二条 本协议于甲方在乙方开立的个人银行账户存续期间有效。如甲方撤销在乙方开立的个人银行账户，自正式销户之日起，本协议自动终止。<br/>
	  　　第三十三条 本协议生效后施行的法律法规的有关规定与本协议内容冲突的，以有关法律法规为准。<br/>
	  　　第三十四条 双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向具体接受甲方申请、办理本协议项下业务的乙方分支机构所在地有管辖权的人民法院提起诉讼。在协商、诉讼期间，双方对本协议中无争议的条款仍需履行。<br/>
    		</p></div>
			
		</div>
	
		
	    <div class="cook-foot col-xs-offset-0 col-xs-12">
    	    <button  type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">我 不 同 意</button>
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">阅读并同意</button>
	    </div>