 <div class="indicates">
            <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
			<span class="">{{timeout}}</span>
			</div>
</div>

        <div class="container step col-xs-offset-0 col-xs-12">
           
            <h1 class="text-center">请取走您的卡片</h1>
    	</div>

    	<div class="step">
            <img src="image/eject_card.gif">
    	</div>
<script>
document.getElementById("MUSIC1").src = "wav/TakeCard.wav";
</script>  
