
<div class="container apply">
<div class="row">
    
    <div>
        <div class="indicates">
    		<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
			<span class="">{{timeout}}</span>
			</div>
    	</div>
		<div class="container step col-xs-offset-o col-xs-12 ">
    		
            <h1 class="text-center">指纹采集</h1>
    	</div>

    	<div class="step">
            <div id="fingerOk" class="col-xs-offset-2 col-xs-5" style="margin-top:30px;width:800px;height:295px; line-height:275px; border:8px solid #cbc9ca;background:#ffffff;">

    				<span style="color:#3a6fb3;font-size:50px; font-family:微软雅黑;">指纹采集成功!</span>

    		</div>
    	</div>
    </div>
</div>
</div>
