
<div class="indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
    
    <div>
        <div class="container step col-xs-offset-0 col-xs-12" style="margin-top:-2%">
    		
            <h1 class="text-center">指纹采集</h1>
			 <h3 class="text-center">请将手指在指纹仪上长按&nbsp;<label id="time" style="width:50px;color:white;">{{timeout}}</label>&nbsp;秒后抬起!</h3>
    		<img src="image/finger.gif" style="margin-top:10px">
    	</div>

    	
    </div>

