<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("time").style.display="none";
document.getElementById("Frontjpg").src ="D:/ID_Photos/Front.jpg"+"?"+Math.random();
document.getElementById("backjpg").src ="D:/ID_Photos/back.jpg"+"?"+Math.random();
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>
<div style="margin-left:30%;margin-top:-10%">
 <div>
	<img id="Frontjpg" src="" style="width:50%;">
	</br>
	</br>
	<img id="backjpg" src="" style="width:50%;">
 </div>
 </div>
 
 
