<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("call").style.display="none";
document.getElementById("calling").style.display="none";
document.getElementById("callingValue").style.display="none";
document.getElementById("callTime").style.display="none";
document.getElementById("time").style.display="none";
document.getElementById("test").style.display="none";
document.getElementById("helpControl").style.display="none";
document.getElementById("logo").style.display="none";
document.getElementById("Cardjpg").src ="D:/ID_Photos/Card.jpg"+"?"+Math.random();
document.getElementById("FaceImgjpg").src ="D:/FaceImg.jpg"+"?"+Math.random();
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>
<div style="position:fixed;top:0px;left:0px;">
<img  src="image/logo-jsnx.png"  >
</div>
<div style="margin-left:10%;margin-top:10%">
 <div>
 <p style="font-size:25px;text-align: center;color:#000000;">江苏农村商业银行个人签约业务申请书</p>
 <table height="100px" style="border-radius:10px 10px 10px 10px;">
 <tr style="height:20px">
	  <td width="200px"><span style="font-size:15px;color:#000000;font-weight:700">客户基本信息：</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;"></span></td>
 </tr>
 <tr>
	  <td width="100px"><span style="font-size:15px;color:#000000">姓名:</span></td>
	  <td width="330px"><span style="font-size:15px;color:#000000">{{pool.name}}</span></td>
	  <td width="130px"><span style="font-size:15px;color:#000000">交易类型:</span></td>
	  <td width="220px"><span style="font-size:15px;color:#000000">
	  <span ng-if="pool.ST_CardSmsSign == '1' && pool.ST_SmsIsSign != '1'">短信签约</span>
	  <span ng-if="pool.ST_CardAtmSign == '1' && pool.ST_TRFIsSign != '1'">转账签约</span>
	  <span ng-if="pool.ST_CardTelSign == '1' && pool.ST_EBankIsSign != '1'">手机银行签约</span>
	  <span ng-if="(pool.ST_CardSmsSign != '1' || pool.ST_SmsIsSign == '1') && (pool.ST_CardAtmSign != '1' || pool.ST_TRFIsSign == '1') && (pool.ST_CardTelSign != '1' || pool.ST_EBankIsSign == '1')">签约</span>
	  </span></td>
 </tr>
 <tr>
	  <td><span style="font-size:15px;color:#000000;">证件类型:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">身份证</span></td>
	  <td><span style="font-size:15px;color:#000000">证件号码:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr style="height:20px" ng-if="pool.ST_CardSmsSign == '1' && pool.ST_SmsIsSign != '1'">
	  <td width="200px"><span style="font-size:15px;color:#000000;font-weight:700">短信签约信息：</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;"></span></td>
 </tr>
 <tr ng-if="pool.ST_CardSmsSign == '1' && pool.ST_SmsIsSign != '1'">
	  <td><span style="font-size:15px;color:#000000">套餐类型:</span></td>
	  <td ng-if="pool.ST_QY_packId=='504'" style=""><span style="font-size:15px;color:#000000;">个人账户变动套餐</span></td>
	  <td ng-if="pool.ST_QY_packId=='505'" style=""><span style="font-size:15px;color:#000000;">企业账户变动套餐</span></td>
	  <td><span style="font-size:15px;color:#000000;">收费类型:</span></td>
	  <td ng-if="pool.ST_QY_fee=='01'" style=""><span style="font-size:15px;color:#000000;">按年</span></td>
	  <td ng-if="pool.ST_QY_fee=='02'" style=""><span style="font-size:15px;color:#000000;">按月</span></td>
	  <td ng-if="pool.ST_QY_fee=='03'" style=""><span style="font-size:15px;color:#000000;">免费</span></td>
 </tr>
 <tr style="height:20px" ng-if="pool.ST_CardAtmSign == '1' && pool.ST_TRFIsSign != '1'">
	  <td width="200px"><span style="font-size:15px;color:#000000;font-weight:700">转账签约信息：</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;"></span></td>
 </tr>
 <tr ng-if="pool.ST_CardAtmSign == '1' && pool.ST_TRFIsSign != '1'">
	  <td><span style="font-size:15px;color:#000000;">失效日期:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ATS_enddate}}</span></td>
	  <td><span style="font-size:15px;color:#000000">交易限额:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.transAmount}}</span></td>
 </tr>
 <tr ng-if="pool.ST_CardAtmSign == '1' && pool.ST_TRFIsSign != '1'">
      <td><span style="font-size:15px;color:#000000">控制周期:</span></td>
	  <td ng-if="pool.ATS_funCode == 0" style=""><span style="font-size:15px;color:#000000;">单笔</span></td>
	  <td ng-if="pool.ATS_funCode == 1" style=""><span style="font-size:15px;color:#000000;">单日</span></td>
	  <td><span style="font-size:15px;color:#000000;">受理行网络标识:</span></td>
	  <td ng-if="pool.banktype == 0" style=""><span style="font-size:15px;color:#000000;">全部</span></td>
	  <td ng-if="pool.banktype == 1" style=""><span style="font-size:15px;color:#000000;">本行</span></td>
	  <td ng-if="pool.banktype == 2" style=""><span style="font-size:15px;color:#000000;">他行</span></td>
</tr>
<tr style="height:20px" ng-if="pool.ST_CardTelSign == '1' && pool.ST_EBankIsSign != '1'">
	  <td width="200px"><span style="font-size:15px;color:#000000;font-weight:700">手机银行签约信息：</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;"></span></td>
 </tr>
<tr ng-if="pool.ST_CardTelSign == '1' && pool.ST_EBankIsSign != '1'">
      <td><span style="font-size:15px;color:#000000">短信单笔限额:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ST_MessOneLimitAmount}}</span></td>
	  <td><span style="font-size:15px;color:#000000;">短信单日限额:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ST_MessDayLimitAmount}}</span></td>
</tr>
<tr ng-if="pool.ST_CardTelSign == '1' && pool.ST_EBankIsSign != '1'">
      <td><span style="font-size:15px;color:#000000">是否开通行内转账:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ST_BankInnerTransfer}}</span></td>
	  <td><span style="font-size:15px;color:#000000;">是否开通跨行转账:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ST_CrossBankTransfer}}</span></td>
</tr>
<tr ng-if="pool.ST_CardTelSign == '1' && pool.ST_EBankIsSign != '1'">
      <td><span style="font-size:15px;color:#000000">手机银行登录用户名:</span></td>
	  <td style=""><span style="font-size:15px;color:#000000;">{{pool.ST_LoginId}}</span></td>
</tr>
</table>
<table style="margin-top:0%">
    <tr>
		<td width="10%">
			<span style="font-size:15px;color:#000000;">身份证照片:</span>
        </td>
        <td width="7%">
		 <span style="font-size:15px;color:#000000;">现场审核照片:</span>
        </td>
   </tr>
  <tr>
		<td>
			<img id="Cardjpg" src="" style="width:18%;">
       </td>
       <td>
		   <img id="FaceImgjpg" src="" style="width:40%;">
       </td>
 </tr>
<table>
<span style="font-size:15px;color:#000000;">审核结果:{{pool.PERresponseCode}}{{pool.PERerrorMessage}}</span>
<div style="margin-top:2%;font-size:15px; ">
	<p style="margin-left:2%;margin-top:-2%;color:#000000">
	 本人保证所提供的个人资料信息真实、有效、完整。对信息失真或因违反规定而造成的损失和后果,本人愿意承担一切后果及法律
	 </p>
	 <p style="color:#000000">
	 	责任。
	</p>
	 <p style="margin-left:2%;color:#000000">
	  本人已详细阅读业务相关协议及须知,确认申请业务与打印栏记录相符。本人同意贵行有权依据国家有关规定及业务需要对服务内
	 </p>
	 <p style="color:#000000">
	 容、收费项目等内容进行调整,并同意该项调整将于正式对外公告一定时期后执行,无需另行通知本人。
	</p>
	<div style="margin-top:1%;">
	 <span style="margin-left:60%;color:#000000">
	 客户签名:_______________<span id="span"><img id="img" src="d:/sign.png"  style="width:8%; height:2%;margin-left:-10%"></span>
	</span>
</div>
</div>
 </div>
 
 
