<script language="JavaScript" type="text/JavaScript"> 
	$.ajax({
	     url: "/custom/document",
	    cache: false,
	    type: "get",
	    data: "commandID=onlySignImg",
	    dataType: 'json',
	    success: function(data) {
	    var scope = angular.element(main).scope();
	    scope.action("confirm"); 
	    }
	});
</script>
<div class="container step col-xs-offset-0 col-xs-12 head-positiony">
<div class ="errorpage">
	<h1 class="text-center">正在处理,请稍候.....</h1>
          <i style="color:#000" class="fa fa-spinner fa-spin fa-5x text-primary" ></i>
</div>
</div>
