<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>

<div class="container step col-xs-offset-o col-xs-12">
    
    <h1 class="text-center">请核对账号和户名</h1>
	<h3 class="text-center">Please check the account information</h3>
</div>
<div class="cook-content">
	<table class="col-xs-12 balance">
		<tr> <th class="col-xs-5"><h2>账号：</h2></th><td> <h2>{{pool.page_DEPAccNo}} &nbsp;</h2></td> </tr>
		<tr> <th class="col-xs-5"><h2>户名：</h2></th><td> <h2>{{pool.page_inAccTranslate}} &nbsp;</h2></td> </tr>
	</table>
</div>
</br>
</br>
</br>
<div  style="margin-top:22%;margin-left:7%">    
    <button id="cancel" type="button" class="col-sm-offset-2 col-xs-2 image-bt" ng-click="action('cancel')">取消</button>
    <button id="return" type="button" class="col-sm-offset-1 col-xs-2 image-bt" ng-click="action('return')">返回</button>
    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">确认</button>
</div>





