<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript">
	document.getElementById("amount").focus();
</script>
<div class="container indicates">
	<span class="timeout pull-right">{{timeout}}</span>
</div>
<div class="container step col-xs-offset-o col-xs-12">
    <h1 class="text-center">输入金额有误,请重新输入存款金额</h1>
    <h3 class="text-center">Input amount invalid,Please input amount again</h3>
</div>
<div class="step1">
	<form class="navbar-form" role="search">
		<div class="col-xs-offset-4 col-xs-5">
      		<div class="input-group input-group-lg">
            	<input type="text" class="form-control" onkeyup="checkInput(id),this.value=this.value.replace(/\D/g,'')" 
                	id="amount" onblur="this.focus()" ng-model="pool.input_DEPAmount"  maxlength="4" data-container="body"  
                    	data-placement="left"  title="<sp class='fg-red'>存款金额输入有误 </sp>" data-content="" data-html="true">
		   		<span class="input-group-btn">
        			<button class="btn btn-primary" type="button" ng-click="clear()">清  除</button>
      			</span>
			</div>
		</div>
        
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
        
		<div>
   			<h1 class="text-center" style="font-size:140%;color:#FFF;">
                交易时按实际存入金额为准</br>
                输入金额应为{{ pool.page_DEPValue }}的整数倍</br>
                最大不能超过 {{pool.page_DEPMaxAmount }}元
            </h1>
		</div>
	</form>
</div>
<div style="margin-top:9%">
	 <button type="button" class="col-xs-offset-2 col-xs-2 button-eject button-lg1" ng-click="action('eject')">{{pool.page_Eject}}</button>
	<button id="cancel" type="button" class="col-xs-offset-1 col-xs-2 button-change button-lg1" ng-click="action('return')">返回</button>
	<button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 button-confirm button-lg1" onclick="checkDEPAmount('page_DEPMaxAmount');">确认</button>
</div>