<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("img").src ="d:/sign.png"+"?"+Math.random();
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}

</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10" style="border:0px #FFFFFF solid;">
 <p style="font-size:30px;color:#000000;" class="text-center">江苏农村商业银行转账交易申请单</p>
 <div>
 <table border="0" cellpadding="0" cellspacing="0" class="col-xs-offset-1 col-xs-12" style="margin-top:5%"> 
 <tr>
	  <td  width="10%"><span style="font-size:20px;color:#000000">姓名:</span></td>
	  <td  width="40%"><span style="font-size:20px;color:#000000">{{pool.name}}</span></td>
	  <td  width="10%"><span style="font-size:20px;color:#000000">性别:</span></td>
	  <td  width="40%"><span style="font-size:20px;color:#000000">{{pool.genderC}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">证件类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">身份证</span></td>
	  <td><span style="font-size:20px;color:#000000">证件号码:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">签发机关:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.issueoffice}}</span></td>
	  <td><span style="font-size:20px;color:#000000">有效日期:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.abatedate}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">终端号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_terminalId}}</span></td>
      <td><span style="font-size:20px;color:#000000;">受理柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_tellerno}}</span></td>
 </tr>
 <tr>
    <td><span style="font-size:20px;color:#000000">申请日期:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transDate.substring(0,4)+"/"+pool.transDate.substring(4,6)+"/"+pool.transDate.substring(6,8)}}</span></td>
	<td><span style="font-size:20px;color:#000000;">申请时间:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transTime.substring(0,2)+":"+pool.transTime.substring(2,4)+":"+pool.transTime.substring(4,6)}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">交易类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">转账</span></td>
	  <td><span style="font-size:20px;color:#000000;">账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.cardNo}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">转入账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.inAccountNo}}</span></td>
      <td><span style="font-size:20px;color:#000000;">转入户名:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.inAccountName}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">金额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.transAmount}}</span></td>
      <td><span style="font-size:20px;color:#000000;">到账时间:</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '01'" style=""><span style="font-size:20px;color:#000000;">实时到帐</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '03'" style=""><span style="font-size:20px;color:#000000;">普通到账（2小时）</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '02'" style=""><span style="font-size:20px;color:#000000;">次日到账（24小时）</span></td>
 </tr>
<tr style="">
<td colspan = 4 style="font-size:20px;color:#000000;">客户签名：<img id="img" src=""  style="width:100px; height:50px"></span></td>
</tr>
</table>


	 
</div>
</div>
 </div>
 <div class=" col-xs-offset-3 col-xs-12" style="margin-top:10%;">
	<button type="button" ng-click="action('return')"  class="col-xs-offset-1 col-xs-2 image-bt" >取消</button>
	<button type="button"  ng-click="action('confirm')" class="col-xs-offset-1 col-xs-2 image-btgr" >确认</button>
</div>

