<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("time").style.display="none";
document.getElementById("Cardjpg").src ="D:/ID_Photos/Card.jpg"+"?"+Math.random();
document.getElementById("FaceImgjpg").src ="D:/FaceImg.jpg"+"?"+Math.random();
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>

<div style="margin-left:10%;margin-top:-40%">
 <div>
 <p style="font-size:25px;text-align: center;color:#000000;">江苏农村商业银行转账交易申请单</p>
 <table height="100px" style="border-radius:10px 10px 10px 10px;">
 <tr>
	  <td  width="100px"><span style="font-size:20px;color:#000000">姓名:</span></td>
	  <td  width="500px"><span style="font-size:20px;color:#000000">{{pool.name}}</span></td>
	  <td  width="100px"><span style="font-size:20px;color:#000000">性别:</span></td>
	  <td  width="200px"><span style="font-size:20px;color:#000000">{{pool.genderC}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">证件类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">身份证</span></td>
	  <td><span style="font-size:20px;color:#000000">证件号码:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">签发机关:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.issueoffice}}</span></td>
	  <td><span style="font-size:20px;color:#000000">有效日期:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.abatedate}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">终端号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_terminalId}}</span></td>
      <td><span style="font-size:20px;color:#000000;">受理柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_tellerno}}</span></td>
 </tr>
 <tr>
    <td><span style="font-size:20px;color:#000000">申请日期:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transDate.substring(0,4)+"/"+pool.transDate.substring(4,6)+"/"+pool.transDate.substring(6,8)}}</span></td>
	<td><span style="font-size:20px;color:#000000;">申请时间:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transTime.substring(0,2)+":"+pool.transTime.substring(2,4)+":"+pool.transTime.substring(4,6)}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">交易类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">转账</span></td>
	  <td><span style="font-size:20px;color:#000000;">账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.cardNo}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">转入账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.inAccountNo}}</span></td>
      <td><span style="font-size:20px;color:#000000;">转入户名:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.inAccountName}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">金额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.transAmount}}</span></td>
      <td><span style="font-size:20px;color:#000000;">到账时间:</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '01'" style=""><span style="font-size:20px;color:#000000;">实时到帐</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '03'" style=""><span style="font-size:20px;color:#000000;">普通到账（2小时）</span></td>
	  <td ng-if="pool.ST_TRFTimeType == '02'" style=""><span style="font-size:20px;color:#000000;">次日到账（24小时）</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">审核柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.adminUserName}}</span></td>
 </tr>
</table>
<table style="margin-top:0%">
    <tr>
		<td width="10%">
			<span style="font-size:15px;color:#000000;">身份证照片:</span>
        </td>
        <td width="7%">
		 <span style="font-size:15px;color:#000000;">现场审核照片:</span>
        </td>
   </tr>
  <tr>
		<td>
			<img id="Cardjpg" src="" style="width:18%;">
       </td>
       <td>
		   <img id="FaceImgjpg" src="" style="width:40%;">
       </td>
 </tr>
<table>
<span style="font-size:15px;color:#000000;">审核结果:{{pool.PERresponseCode}}{{pool.PERerrorMessage}}</span>
<div style="margin-top:2%;font-size:15px; ">
	<p style="margin-left:2%;margin-top:-2%;color:#000000">
	 本人保证所提供的个人资料信息真实、有效、完整。对信息失真或因违反规定而造成的损失和后果,本人愿意承担一切后果及法律
	 </p>
	 <p style="color:#000000">
	 	责任。
	</p>
	 <p style="margin-left:2%;color:#000000">
	  本人已详细阅读业务相关协议及须知,确认申请业务与打印栏记录相符。本人同意贵行有权依据国家有关规定及业务需要对服务内
	 </p>
	 <p style="color:#000000">
	 容、收费项目等内容进行调整,并同意该项调整将于正式对外公告一定时期后执行,无需另行通知本人。
	</p>
	<div style="margin-top:2%;">
	 <span style="margin-left:60%;color:#000000">
	 客户签名:_______________<span id="span"><img id="img" src="d:/sign.png"  style="width:8%; height:2%;margin-left:-10%"></span>
	</span>
</div>
</div>
 </div>
 
 
