<!-- 理财客户已购明细查询 -->
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="application/javascript" language="javascript" >
    var scope = angular.element(main).scope();
    scope.subscription = function (pid) {
        var _detail = scope.pool["detail"].split('#');
        for (var i = 0; i < _detail.length; i ++) {
            if (pid == _detail[i].split('@')[0]) {
                scope.pool["FinancialProductSubscription"] = _detail[i];
				scope.pool["SS_prodCode"] = _detail[i].split('@')[0];
                break;
            }
        }
        scope.action("confirm");
    }
</script>

<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
	</div>
<div class="col-xs-offset-0 col-xs-12" style= "border:0px red solid;">

    <div class="cook-head">
		<h1 class="text-center">已经购买的理财产品明细</h1>
		<h3 class="text-center">Financial Products Detail</h3>
    </div>
    
    <table class=" table-striped  table-bordered" width="100%" style="text-align:center;">
        <tr style="font-weight:bold;font-size:16px;">
            <td height="33px">产品代码</td>
            <td height="33px">产品名称</td>
            <td height="33px">认购总额</td>
            <td height="33px">预约标识</td>
			<td height="33px">操作</td>
        </tr>
        <tr ng-repeat="x in detail" >
            <td height="33px">{{ x.key0}}</td>
            <td height="33px">{{ x.key1}}</td>
            <td height="33px">{{ x.key2}}</td>
            <td height="33px">{{ x.key3}}</td>
            <td height="33px">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="subscription(x.key0)">赎回</button>
                </span>
            </td>
        </tr>
 </table>
 </div>


<div class="cook-foot col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
   <div class="col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
 	<h1 class="text-center" style="font-size: 140%;">第{{pageNo}}页,共{{pageSize}}页</h1>	
 </div>
 <div ng-if="pageSize > 1">
 	<div class=" col-xs-offset-0 col-xs-6 "style="border:0px blue solid;">
 			<button  type="button" class="col-xs-offset-2 col-xs-2 image-btor" ng-click="action('return')">返回</button>
    	    <button  id="cancel" type="button" class="col-xs-offset-3 col-xs-2 image-bt"   ng-click="action('eject')">退卡</button>
   </div>

 	<div class=" col-xs-offset-0 col-xs-6 "style="border:0px blue solid;">
 			<div class="col-xs-offset-1 col-xs-2"style="border:0px red solid;">
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr"  ng-hide="Prev" ng-click="next(-1)">上一页</button>
    	   </div>
         <div class="col-xs-offset-4 col-xs-2" style="border:0px red solid;">
    	    <button  type="button"  class="col-xs-offset-1 col-xs-2 image-btgr"  ng-hide="Next" ng-click="next(1)">下一页</button>
    	  </div>
</div>
</div>
<div ng-if="pageSize <= 1">
<div class=" col-xs-offset-0 col-xs-12 "style="border:0px blue solid;">
 			<button  type="button" class="col-xs-offset-4 col-xs-2 image-btor" ng-click="action('return')">返回</button>
    	    <button  id="cancel" type="button" class="col-xs-offset-1 col-xs-2 image-bt"   ng-click="action('eject')">退卡</button>
   </div>
</div>   
</div>


