<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }


</style>
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
	</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin-top:0%;border:0px blue solid; background: url(image/texteara.png) ">
     
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">阅读协议</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">江苏农村商业银行理财撤单申请承诺</h4>
 
        <div class=" terms step "> 
    	<p class="ment" style="font-size:20px; font-weight:300; text-align:left;line-height:40px">
      　　　本人确认收到与仔细阅读和理解农村商业银行提供的相关产品说明书，对该产品所蕴含风险有足够了解，愿意接受该产品说明书规定的约束。</br>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本人再次承诺，现提出撤销确系本人自主做出的意思表示，对因撤销而引起的一切市场风险，财务损益和法律责任均由本人承担。</br>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本人保证在办理该产品交易时提供的信息资料真实有效。</br>
    	</p>
		</div>
	</div>
	    <div class="cook-foot col-xs-offset-0 col-xs-12">
    	    <button  type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">我 不 同 意</button>
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">阅读并同意</button>
	    </div>
		
