
<div class="container indicates">
	<span class="timeout pull-right">{{timeout}}</span>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
	<h1 class="text-center">未查询到您已购买的理财产品</h1>
	<h3 class="text-center">No Financial Product Details</h3>
</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12">
    <button type="button" class="col-xs-offset-4 col-xs-2 image-btor" ng-click="action('return')">返回</button>
	<button id="cancel" type="button" class="col-xs-offset-1 col-xs-2 image-bt" ng-click="action('eject')">退卡</button>
</div>
<EMBED id="MUSIC1" SRC="../query/wav/48-无交易明细.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND>