<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
	</div>
   <div class="col-xs-offset-1 col-xs-10" style= "border:0px red solid;">

<div class="cook-head">
    <h1 class="text-center">请确认您的理财产品申购信息</h1>
    <h3 class="text-center">Please confirm your financial product subscription information</h3>
</div>
<div class="cook-content">
    <table class="col-xs-12 balance" border="1">
        <tr>
            <td><th class="col-xs-3"><h3>产品名称:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[1]}}</h3></td>
            <td><th class="col-xs-3"><h3>产品级别:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[4]}}</h3></td>
        </tr>
        <tr>
            <td><th class="col-xs-3"><h3>发售期:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[16]}}~{{pool.FinancialProductSubscription.split('@')[17]}}</h3></td>
            <td><th class="col-xs-3"><h3>投资期限:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[2]}}~{{pool.FinancialProductSubscription.split('@')[3]}}</h3></td>
        </tr>

        <tr>
            <td><th class="col-xs-3"><h3>预期收益率:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[5]}}</h3></td>
            <td><th class="col-xs-3"><h3>最低认购份额:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[10]}}</h3></td>
        </tr>
        <tr>
            <td><th class="col-xs-3"><h3>每份金额:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[7]}}</h3></td>
            <td><th class="col-xs-3"><h3>产品状态:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscription.split('@')[8]}}</h3></td>
        </tr>
        <tr>
            <td><th class="col-xs-3"><h3>申购份额:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.FinancialProductSubscriptionNumber}}</h3></td>
            <td><th class="col-xs-3"><h3>申购总金额:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.transAmount}}</h3></td>
        </tr>
		<tr>
            <td><th class="col-xs-3"><h3>客户经理号:</h3></th></td>
            <td class="col-xs-3"><h3>{{pool.custmanage}}</h3></td>
            <td><th class="col-xs-3"><h3></h3></th></td>
            <td class="col-xs-3"><h3></h3></td>
        </tr>
    </table>
</div>
</br>
</br>
</br>
</br>

<div style="margin-top:15%">
    <h1 class="text-center" style="font-size: 180%;color:#fff"></h1>
</div>

</div>

<div class="cook-foot col-xs-offset-0 col-xs-12">
    	  <button id="cancel" type="button"  class="col-xs-offset-3 col-xs-2 image-bt"   ng-click="action('return')">取消</button>
    	  <button  type="button" class="col-xs-offset-1 col-xs-2 image-btor" ng-click="action('modify')">返回修改</button>
		  <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">确认</button>
</div>	