
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>


 <div class="col-xs-offset-1 col-xs-10" style= "border:0px red solid;">
 <div class="cook-head">
  	<h1 class="text-center">当日客户赎回超过最高赎回金额,只能进行预约赎回</h1>
	<h1 class="text-center">预约赎回将在申请后的第一个工作日自动生效</h1>
	<h1 class="text-center">是否继续进行预约赎回</h1>
	
</div>

</br>

<div>

</div>
</div>

 <div class="col-xs-offset-0 col-xs-10" style="position:fixed;top:85%;border:0px red solid;">
	<button id="cancel"  type="button" class="col-xs-offset-4 col-xs-2 image-btor"  ng-click="action('return')">返回</button>
	<button id="confirm" type="button" class="col-xs-offset-2 col-xs-2 image-btgr"  ng-click="action('confirm')">确认</button>
 </div>