<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
	</div>
<div class="container step col-xs-offset-o col-xs-12">
	<h1 class="text-center">暂无评估试题</h1>
	<h3 class="text-center">No transaction details</h3>
</div>
<div style="margin-top:29%">
    <button type="button" class="col-xs-offset-3 col-xs-2 button-confirm button-lg1" ng-click="action('return')">返回</button>
	<button id="cancel" type="button" class="col-xs-offset-2 col-xs-2 button-eject button-lg1" ng-click="action('eject')">退卡</button>
</div>