
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-0 col-xs-12" style= "border:0px red solid;">
<div class="">
	<h1 class="text-center">{{pool.page_message}}</h1>
	<h1 class="text-center">是否重新进行风险评估？点击确定再次进行风险评估</h1>
</div>
</div>


<div class="cook-foot col-xs-offset-0 col-xs-12">
    <button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-bt" ng-click="action('eject')">退出</button>
    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">确定</button>
	
</div>