<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="application/javascript" language="javascript" >
	creatTree(0,"阅读协议");

    var scope = angular.element(main).scope();
    $('#myModal').modal('show');
    var docdata = "@4";
    $.ajax({
  	     url: "/custom/document",
  	    cache: false,
  	    type: "get",
  	    data: "commandID="+docdata,
  	    dataType: 'json',
  	    success: function(data) {
       	showSWF(data.messageText);
  	    		
  	    }
  	});
    //setTimeout("BrowserCallback('key.FinancialProduct##4')",3000)
    	
  
    var pageNo = 1;
    var pageSize = 0;
    var jpglist;
    function showSWF(data)
    {
     scope.timeout = 120;
     if(data=="")
     {
    	 document.getElementById("slideShow").innerHTML="<span    style='position:fixed;left:30%;top:40%;font-size:100px;' >打开文档失败</span>";
    	 document.getElementById("slideShow").style.display="block";
    	 //document.getElementById("slideShow2").style.display="block";
    	 $('#myModal').modal('hide');
	     //document.getElementById("Flex").style.display="block";
    	 return;
     }
     pageNo = 1;
     jpglist=data.split("#");
     pageSize = jpglist.length;
     var li="";
     if(pageSize >0)
     {
	     li="<img id='imgDOC' src=''   style='width:100%;height:250%;' />";
	     document.getElementById("slideShow").innerHTML=li;
	     document.getElementById("slideShow").style.display="block";
	     document.getElementById("imgDOC").src=jpglist[pageNo-1]+"?"+Math.random();
	     //document.getElementById("slideShow2").style.display="block";
	     $('#myModal').modal('hide');
	     //document.getElementById("Flex").style.display="block";
	     //document.getElementById("showDOCbtn").style.display="block";
	     if(pageSize>1)
	     {
	    	 document.getElementById("nextDOC").style.display="block";
	     }
     }
    }
    function Flexhidden()
    {
    	document.getElementById("slideShow").style.display="none";
        //document.getElementById("Flex").style.display="none";
        document.getElementById("nextDOC").style.display="none";
        document.getElementById("preDOC").style.display="none";
        //document.getElementById("slideShow2").style.display="none";
    }
    function nextDOC(num)
    {
    	pageNo = pageNo + num;
    	document.getElementById("imgDOC").src=jpglist[pageNo-1]+"?"+Math.random();
    	if(pageNo ==1)
    	{
    	  document.getElementById("preDOC").style.display="none";
    	  document.getElementById("nextDOC").style.display="block";
    	}else if(pageNo ==pageSize)
    	{
    		document.getElementById("preDOC").style.display="block";
    		document.getElementById("nextDOC").style.display="none";
    	}else{
    		document.getElementById("preDOC").style.display="block";
    		document.getElementById("nextDOC").style.display="block";
    	}
    }
</script>
    		
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">阅读协议</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">江苏农村商业银行理财签约协议</h4>
 
    <div class="slideShow" id="slideShow" style="overflow:auto;display:none;position:fixed;top:27%;left:20%;width:60%;height:52%;z-index:999"></div>
    <div class="modal fade" id="myModal"  data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" backdrop="static">
    <div class="modal-dialog ">
      <div class=" col-xs-offset-3 col-lg-6 alert alert-danger fade in" style="top:300px">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">正在处理,请稍后...<br>
        </div>
        <img id="lcyws" src="image/process.gif" class="center" />
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!--<div id="Flex"  style="display:none;width:30px;height:30px;position:fixed;left:88%;top:0%;background-image:url(image/red.png);background-size:100%;z-index:9999;"  onclick="Flexhidden()">
    </div>-->
    <div class="jiantou fg-black" id="preDOC" style="display:none;position:fixed;left:18%;top:40%;z-index:9999" onclick="nextDOC(-1)"> < </div>
    <div class="jiantou fg-black" id="nextDOC" style="display:none;position:fixed;left:80%;top:40%;z-index:9999" onclick="nextDOC(1)"> > </div>		
	
		
	    <div class=" col-xs-offset-0 col-xs-12" style="margin-top:45%">
    	    <button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">我 不 同 意</button>
    	    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">同意</button>
	    </div>