
<div class="container apply">
<div class="row">
    <div class="div_left col-md-3">
        <ng-include src="'partials/card_left.html'"></ng-include>
    </div>
    <div class="div_right col-md-9">
        <div class="indicates">
    		<span class="timeout pull-right">{{timeout}}</span>
            <h1>请输入密码</h1>
    	</div>

    	<div class="step">
            <div>
    			<input type="text" class="input-lg" readonly>
    		</div>
    		<img src="image/pin.gif">
    	</div>
    </div>
</div>
</div>
