<script type="text/javascript">
document.getElementById("MUSIC1").src = "wav/TakeCard.wav";
</script>
<div class="container apply">
<div class="row">
    <div class="div_left col-md-3">
        <ng-include src="'partials/card_left.html'"></ng-include>
    </div>
    <div class="div_right col-md-9">
        <div class="indicates">
            <span class="timeout pull-right">{{timeout}}</span>
            <h1>请取走您的旧卡片</h1>
    	</div>

    	<div class="step">
            <img src="image/eject_card.gif">
    	</div>
    </div>
</div>
</div>