
<div class="container apply">
       <div class="container step">
		  <h1 class="text-center">业务签约成功</h1>
	  </div>
<div class="row">
    	<div class="step">
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <button type="button" class="button button-primary button-lg" ng-click="action('end')">结束服务</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="button button-primary button-lg" ng-click="action('return')">返回主界面</button>
                </div>
            </div>
    	</div>
    </div>
</div>
<script>
document.getElementById("MUSIC1").src = "wav/SystemProcessing.wav";
</script>
