<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>
<div class="col-xs-offset-0 col-xs-12" style= "border:0px red solid;">
<div class="cook-head">
    <h1 class="text-center">请对本次服务进行评价</h1>
    <h3 class="text-center">Transaction receipts are unavailable at the present time</br>Please press enter to continue</h3>
</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="left:35px">
   <button  type="button" class="col-offset-1 col-xs-0 image-btgr" ng-click="action('0')">非常满意</button>
   <button  type="button" class="col-xs-offset-1 col-xs-0 image-btgr" ng-click="action('1')">满意</button>
   <button  type="button" class="col-xs-offset-1 col-xs-0 image-bt" ng-click="action('2')">对产品不满意</button>
   <button  type="button" class="col-xs-offset-1 col-xs-0 image-bt" ng-click="action('3')">对服务不满意</button>
   <button  type="button" class="col-xs-offset-1 col-xs-0 image-btor" ng-click="action('4')">暂不评价</button>
   
 </div>

