<script src="bower_components/bootstrap/dist/js/bootstrap.min.js">
document.getElementById("MUSIC1").src = "";
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>
<div class="col-xs-offset-0 col-xs-12 " style= "border:0px blue solid;">
	<div class="cook-head">
			<h1 class="text-center">请选择服务项目</h1>
			<h3 class="text-center" >Please select services</h3>
		</div>

	<div class="col-xs-offset-0 col-xs-12" style= "margin-top:2%;height:100px;border:0px red solid;">		
		
		<div class="col-md-3 card5">
			<img id="QueryBill" src="image/tfc/QueryBill.png" ng-click="action('CreditQueryBill')" />				    
		</div>
				
		<div class="col-md-3 card5">
			<img id="INQ" src="image/partials/INQ.png" ng-click="action('CreditCardINQ')" />				    
		</div>
				
        <div class="col-md-3 card5">
			<img id="PIN" src="image/partials/PIN.png" ng-click="action('CreditchangePin')" />
		</div>
				
		<div class="col-md-3 card5">
			 <img id="INQ" src="image/partials/CreditBindAccount.png" ng-click="action('CreditBindAccount')"/>					
		</div>
				
		<div class="col-md-3 card5" ng-if="pool.I_CWD == 'active'">
			 <img id="INQ" src="image/partials/CreditCardCWD.png" ng-click="action('CreditCardCWD')"/>					
		</div>
				
		<div class="col-md-3 card5" ng-if="pool.I_DEP == 'active'">
			 <img id="INQ" src="image/xykyw/CashPayWithCARD.png" ng-click="action('CashPayWithCARD')"/>
		</div>
				
		<div class="col-md-3 card5">
			  <img id="ECash" src="image/xykyw/账户转账.png" ng-click="action('CreditTransfer')" />				    
		</div>							
	</div>		
		
 <div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
    	    <button    id="cancel" type="button"  class="  image-bt" ng-click="action('eject')">取卡</button>
    </div>  
    
  <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class=" col-xs-offset-3 col-lg-6 alert alert-danger fade in" style="top:300px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"  style="text-align: center;">对不起，暂不支持该交易！</h4>
        </div>
        <p>
          <button type="button" class="btn btn-danger col-xs-offset-4 col-lg-4" data-dismiss="modal">确认</button>
        </p>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
