	<div class="container indicates">
	    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/???.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
		<span class="">{{timeout}}<span>
		</div>
	</div>
   	<div  ng-if="pool.Fun_MachineName == 'VTM600A'"  style="width:1000px;height:780px;margin-left:140px;overflow:auto;margin-top:-5%;border:0px blue solid; background: url(image/texteara.png) ">
        <div class=" terms2 step2 ">
            <img src="image/depositInsuranceWord.jpg">
    	</div>
    </div>
    <div ng-if="pool.Fun_MachineName == 'VM2000L'"  style="width:800px;height:780px;margin-left:220px;overflow:auto;margin-top:-5%;border:0px blue solid; background: url(image/texteara.png) ">
    	<div class=" terms2 step2 " >
            <img src="image/depositInsuranceWord.jpg"  style="width:800px;height:1650px;">
	    </div>
	</div>
	<div ng-if="pool.Fun_MachineName == 'UC5000M2'"  style="width:800px;height:780px;margin-left:220px;overflow:auto;margin-top:-5%;border:0px blue solid; background: url(image/texteara.png) ">
	    <div class=" terms2 step2 " >
            <img src="image/depositInsuranceWord.jpg" style="width:800px;height:1650px;">
        </div>
	</div>
	
		
    <div class="cook-foot col-xs-offset-0 col-xs-12" style="margin-top:0.3%">
	    <button  type="button" class="col-xs-offset-9 col-xs-6 image-btgr" ng-click="action('confirm')">确认</button>
    </div>