<script language="javascript" type="text/javascript" >
    hideCallButton("");
    //self.location ="http://127.0.0.1/flow-jsnxvtm/resources/media.html";
    setTimeout("MediaInit('index')",5000);
</script>
<style>
html, body
{
	margin:0;
	overflow-x:hidden;
    overflow-y:hidden;

}

.videoContainer 
{
	position:absolute;
	height:100%;
	width:100%;
	overflow: hidden;
}

.remoteVideoPos 
{
	position:absolute;
	height:100%;
	width:100%;
    top:0px;
    left:0px;
	overflow: hidden;
    z-index:99;
}
</style>
<div >
    <!--功能测试-->
    <!--灰色背景透明层 -->
    <div id="tips">
	<h1 class="text-center" style="color:white">请求银行坐席服务,请稍候.....</h1><span></span>
    </div>
    
    <div id="localVideoPos" style="position: absolute;width:21%;left:80%;top:70%;height:30%;z-index:999;"></div>
    <div class="remoteVideoPos" id="remoteVideoPos"></div>
  </div>