
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
		<span class="">{{timeout}}<span>
		</div>
</div>

<div class="container step col-xs-offset-o col-xs-12">
	<h1 class="text-center">请放入您的IC卡片</h1>
	<img src="image/insert_RFCard.gif">
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
	<button id="cancel" type="button" class="  image-bt" ng-click="action('cancel')">取消</button>
</div>
<!--
<EMBED id="MUSIC1" SRC="wav/请插入您的卡片.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND>
-->