<script>
creatTree(0,"阅读协议");
</script>
<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }
</style>
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin-top:0%;border:0px blue solid; background: url(image/texteara.png) ">    
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">阅读协议</h3>
    <h4 style="font-size:18px; font-weight:600; text-align:center;color:#000000;">江苏农村商业银行电子银行服务协议</h4>
        <div class=" terms step "> 
    	<p class="ment">
      　　　为明确双方的权利和义务，规范双方业务行为，改善客户服务，本着平等互利的原则，电子银行客户服务申请人或申请企业（以下均
	  简称“甲方”）与开办江苏农村商业银行电子银行业务的法人机构（以下简称“乙方”）就乙方提供的江苏农村商业银行电子银行服务相关
	  事宜达成本协议，协议双方应予遵守。</br>
	  <font style="font-weight:600;">第一条 定义</font></br>
	 &emsp;&emsp;&emsp;如无特别说明，下列用语在本协议中的含义为：</br> 
	 &emsp;&emsp;&emsp;电子银行服务：指乙方借助国际互联网、公共通讯、电话集成线路等方式为甲方提供的支付结算服务、客户理财服务及信息类服务。
	 根据服务渠道的不同，可分为网上银行服务、电话银行服务、手机银行服务、短信银行服务等。身份认证要素：指在电子银行交易中乙方用
	 于识别甲方身份的信息要素，如客户号（用户名、证件号码等）、密码、动态口令、签约设置的手机SIM卡等。密码：指甲方在电子银行服
	 务中使用的各种密码，如登录密码、交易密码、账户密码等。交易指令：指甲方通过电子银行渠道向乙方发出的查询、转账等指示。错误：
	 指乙方未能执行、未能及时执行或未能正确执行甲方交易指令的情况。</br> 
	 <font style="font-weight:600;">第二条 电子银行服务的开通及服务内容</font></br>
	 &emsp;&emsp;&emsp;（一）网上银行服务的开通及服务内容甲方可在乙方营业网点柜台或通过甲方提供的其他电子渠道申请开通网上银行，并办理
	 注册手续后，成为网上银行普通注册客户。普通注册客户可享受的服务包括：查询、转账、理财、缴费、信用卡还款等服务。</br>
     &emsp;&emsp;&emsp;（二）电话银行服务的开通及服务内容甲方可在乙方营业网点柜台或通过甲方提供的其他电子渠道申请开通电话银行服务，并办理
	 签约手续，成为电话银行的客户。电话银行客户可享受的服务包括：查询、转账、缴费等金融交易服务，咨询、投诉、建议、口头挂失等
	 增值信息服务。</br> 
　　&emsp;（三）手机银行服务的开通及服务内容甲方可在乙方营业网点柜台或通过甲方提供的其他电子渠道申请开通手机银行服务，并办理
	签约手续，成为手机银行的客户。手机银行客户可享受的服务包括：查询、转账、缴费、信用卡等服务。</br> 
　　&emsp;（四）短信银行服务的开通及服务内容甲方可在乙方营业网点柜台或通过甲方提供的其他电子渠道申请开通短信银行服务，并办理
	签约手续，成为短信银行的客户。短信银行客户可享受的服务包括：金融信息通知、查询、交易提醒等服务。</br> 
　　&emsp;（五）客户享受上述电子银行服务还须具备相关电子设备、能接入相应电子银行系统的网络等前提条件。</br>
	<font style="font-weight:600;">第三条 甲方主要权利与义务</font></br>
	&emsp;&emsp;一、主要权利 </br>
　　&emsp;（一）甲方申请开通相应电子银行服务后，有权依本协议享受乙方提供的服务。</br> 
　　&emsp;（二）甲方有权在本协议生效期间根据乙方相关业务规则对本协议项下电子银行服务提出变更或终止申请。</br> 
　　&emsp;（三）甲方通过电子银行渠道办理相关交易后，有权在规定的时限内到乙方营业网点补登存折或补打交易凭证。</br> 
　　二、主要义务 </br>
　　&emsp;（一）甲方办理网上银行业务应直接登录乙方网站（网址：http://www.js96008.com），而不要通过邮件或其他网站提供的链接</br>
	等方式登录。甲方在中国大陆地区办理电话银行业务，应直接拨打乙方客户服务电话96008，而不要拨打任何其他电话。</br> 
　　&emsp;（二）甲方在享受乙方提供的电子银行服务时，应当遵守本协议以及乙方不定期通过网点、网站或电子银行等渠道公布的相关业务
	规则等要求。甲方通过电子银行渠道办理银行业务时，还应同时遵守通过普通渠道（如银行柜台渠道等）办理该业务所需遵循的乙方相应
	规定，但乙方有特殊要求的除外。</br> 
　　&emsp;（三）甲方应保证其提供的个人资料的真实、完整、有效，如有变更，应及时书面通知乙方并按照乙方要求办理变更手续，通过乙
	方电子银行服务渠道能够更改的个人资料，甲方可自行通过电子银行服务渠道变更，因甲方个人资料不真实、不正确、不完整等原因而发
	生的风险和责任由甲方承担。</br> 
　　&emsp;（四）甲方不得通过电子银行渠道发送违法的、与交易无关的或破坏性的信息，不得干扰乙方电子银行系统的正常进行。短信银行
	服务中所有短信内容不得含有客户号、密码等关键信息。</br> 
　　&emsp;（五）甲方身份认证要素（具体内容请见本协议第一条的相关规定）是乙方在提供电子银行服务过程中识别甲方的依据，甲方必须
	妥善保管，不得将身份认证要素提供给任何第三方（包括乙方工作人员）或交于任何第三方（包括乙方工作人员）使用。使用上述身份认
	证要素所完成的一切交易操作均视为甲方本人所为，甲方应对由此产生的后果负责。</br> 
　　&emsp;（六）如甲方的身份认证要素（具体内容请见本协议第一条的相关规定）发生遗失、被盗、遗忘或怀疑已被他人知悉、盗用等可能
	导致甲方账户安全性降低的情形,甲方应立即对账户进行挂失或对相关电子银行渠道进行终止，在挂失或终止生效之前发生的损失均由甲方
	承担。</br> 
　　&emsp;（七）甲方在移动运营商的手机号码销号与其在手机银行系统、短信银行服务系统的注销不能相互替代。甲方如需办理相关电子银
	行业务的注销，应根据乙方相关业务规定予以办理。</br>  
　　&emsp;（八）甲方应对其发出的所有交易指令承担全部责任。</br>
　　&emsp;（九）甲方发出的指令经乙方执行后，甲方不得要求变更或撤销。甲方发现账户变动与本人的实际交易操作不符的，甲方应自发生
	该种不符后15日内向乙方作出书面错误通知并应说明错误发生的可能原因、有关的账号、金额等情况。对甲方发出的错误通知，乙方将及
	时受理并进行调查。如乙方认为错误确已发生并系乙方的原因，乙方将及时对错误加以纠正。</br> 
　　&emsp;（十）甲方应采取安装防病毒软件、及时安装电脑系统安全补丁等合理措施，防止身份认证要素（具体内容请见本协议第一条的相
	关规定）被盗或泄漏；甲方同时应尽到合理注意义务，在安全的环境使用相关电子银行渠道。对于自设密码，甲方应设置安全性较高的密
	码，避免使用简单易记的密码或容易被他人猜到的密码。对于申请开通电子银行服务时受技术条件限制只能设置数字密码的，甲方应于开
	通电子银行服务后及时将其更换为安全性更高的密码。</br> 
　　&emsp;（十一）甲方应当按照乙方公布的电子银行客户服务收费项目及标准支付相关费用。</br>
	<font style="font-weight:600;">第四条 乙方主要权利与义务 </font></br>
	&emsp;&emsp;一、主要权利</br> 
　　&emsp;（一）为不断改进电子银行服务，提高服务的安全性、可靠性、方便性，乙方有权定期或不定期对电子银行系统进行维护、升级和
	改造。</br> 
　　&emsp;（二）为保障甲方资金安全，乙方有权根据客户类别、身份认证措施、交易风险度等因素的不同设定不同的安全策略，不同安全策
	略对于客户身份认证措施、交易限额、操作流程等可能有不同要求，甲方应当遵守。乙方对涉及客户权利义务变更的安全策略调整，应当
	通过网点、网站或电子银行等渠道公布或按照本协议约定予以公告。</br> 
　　&emsp;（三）乙方有权依据法律、法规、规章或业务需要对电子银行服务系统的服务内容、操作流程或收费标准等进行调整，涉及收费或
	其他客户权利义务变更的调整，将于正式对外公告后施行，自公告施行之日公告内容构成对本协议的有效修改和补充。如果甲方不同意接
	受乙方的调整内容，甲方有权向乙方申请终止相关电子银行服务，但在申请终止相关电子银行服务之前甲方使用乙方电子银行服务的，仍
	然应当遵守相关调整内容。甲方既不申请终止服务，又不遵守乙方调整内容的，乙方有权选择终止本协议。</br> 
　　&emsp;（四）乙方有权按照所公布的电子银行客户服务收费项目及标准从甲方在乙方开立的账户中扣收相关费用。已收取的费用在相关电
	子服务渠道终止、本协议变更或终止等情形下均不予退还。</br>
　　&emsp;（五）对于因下列原因所导致的错误的发生，乙方不承担责任。</br> 
　　&emsp;1．甲方账户余额或信用额度不足； 2．账户内资金被法定有权机构冻结或扣划；3．甲方的行为出于欺诈等恶意目的； 4．乙方收
	到的交易指令不符合要求或缺乏必要的交易信息；5．甲方未能正确依据电子银行服务的说明操作；6．不可抗力或其他不可归因于乙方的
	原因。</br> 
　　&emsp;&emsp;二、主要义务</br>
　　&emsp;（一）乙方应及时受理甲方相关电子银行服务的申请，经审查符合条件的，应及时为甲方办理相关手续、提供相应服务。</br> 
　　&emsp;（二）对于甲方就相关业务规则的咨询，乙方应及时予以解答或向其提供查询渠道。</br> 
　　&emsp;（三）乙方应对甲方资料进行保密，但法律法规及金融监管机构另有规定、甲方与乙方另有约定或在乙方内部使用的除外。</br> 
　　&emsp;（四）在乙方系统正常运行的情况下，乙方应向甲方提供甲方所申请的相应电子银行服务（部分服务须经甲方另行开通方能享受
	的，待甲方开通后乙方予以提供），并有义务及时准确地执行甲方的交易指令。</br> 
　　&emsp;（五）乙方为甲方办理支付结算业务，确因乙方系统缺陷导致甲方资金损失的，乙方应按有关规定计付赔偿金。</br>
	<font style="font-weight:600;">第五条 协议的生效、变更、中止和终止 </font></br>
	&emsp;&emsp;&emsp;（一）甲方通过乙方柜台申请电子银行服务的，本协议自乙方同意其申请并在乙方系统中设置成功后生效。</br> 
    &emsp;&emsp;&emsp;（二）甲方变更或终止电子银行服务，须根据乙方相关业务规定通过乙方营业网点办理。甲方终止电子银行服务前应偿清所有应付
	款项。</br> 
　　&emsp;（三）甲方通过乙方柜台终止电子银行服务的，本协议自乙方同意其终止申请并在乙方系统中设置成功后终止。</br> 
　　&emsp;（四）甲方不遵守本协议或乙方相关业务规则（包括调整后的业务规则）或存在其他损害乙方利益的行为时，乙方有权终止本协
	议。如乙方因此遭受损失的，甲方应负赔偿责任。</br> 
　　&emsp;（五）因挂失、冻结等原因导致账户暂不能使用的，相关电子银行服务亦相应中止，待账户可以正常使用后恢复相关电子银行服
	务。账户销户的，该账户相关的电子银行服务以及本协议中的相关内容亦相应终止。</br>
　　&emsp;（六）本协议部分条款无效，不影响其他条款的效力。</br>
	<font style="font-weight:600;">第六条 其他约定事项 </font></br>
	&emsp;&emsp;&emsp;（一）乙方不介入甲方与第三方之间的交易纠纷，但可协助甲方查明交易情况。</br> 
　　&emsp;（二）除有相反证据证明外，电子银行服务中产生的凭证和银行交易记录是确定交易真实有效和交易具体内容的依据。</br>  
　　&emsp;（三）如非特别指明，本协议条款均适用于网上银行客户、电话银行客户、手机银行客户、短信银行客户。</br>  
　　&emsp;（四）本协议中未尽事宜应依照国家法律法规、规章、金融惯例以及乙方相关业务规定办理。</br> 
	<font style="font-weight:600;">第七条 协议的适用法律及争议解决方式 </font></br>
	&emsp;&emsp;&emsp;（一）本协议适用中华人民共和国法律。</br> 
　　&emsp;（二）凡因本协议引起的或与本协议有关的任何争议，应通过协商解决；协商不成的，任何一方均可向乙方住所地人民法院提起诉
	讼。</br>
    	</p>
		</div>
	</div>
	    <div class="cook-foot col-xs-offset-0 col-xs-12">
    	    <button  type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">我 不 同 意</button>
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">阅读并同意</button>
	    </div>