<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("img").src ="d:/sign.png"+"?"+Math.random();

//参数为 每隔多少字符插入进行一次断行
self.setTimeout("formatAddress(40)", 100);
function formatAddress(flag){
	var address = $("#address").html();
    var newstr = "";
    for(var i=0;i<address.length;i+=flag){
        var tmp=address.substring(i, i+flag);
        newstr+=tmp+"</br>";
    }
     $("#useraddress").html(newstr);
	 
	var SNotice = $("#SNotice").html();
    var newstrtwo = "";
    for(var j=0;j<SNotice.length;j+=flag){
        var tmptwo=SNotice.substring(j, j+flag);
        newstrtwo+=tmptwo+"</br>";
    }
     $("#userSNotice").html(newstrtwo); 
}
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}

</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10" style="border:0px #FFFFFF solid;">
 <p style="font-size:30px;color:#000000;" class="text-center">江苏农村商业银行电子银行签约申请单</p>
 <div>
 <table border="0" cellpadding="0" cellspacing="0" class="col-xs-offset-1 col-xs-12" style="margin-top:2%"> 
 <tr>
	  <td  width="18%"><span style="font-size:20px;color:#000000">姓名:</span></td>
	  <td  width="32%"><span style="font-size:20px;color:#000000">{{pool.name}}</span></td>
	  <td  width="18%"><span style="font-size:20px;color:#000000">性别:</span></td>
	  <td  width="32%"><span style="font-size:20px;color:#000000">{{pool.genderC}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">证件类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">身份证</span></td>
	  <td><span style="font-size:20px;color:#000000">证件号码:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">签发机关:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.issueoffice}}</span></td>
	  <td><span style="font-size:20px;color:#000000">有效日期:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.abatedate}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">终端号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_terminalId}}</span></td>
      <td><span style="font-size:20px;color:#000000;">受理柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_tellerno}}</span></td>
 </tr>
 <tr>
    <td><span style="font-size:20px;color:#000000">申请日期:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transDate.substring(0,4)+"/"+pool.transDate.substring(4,6)+"/"+pool.transDate.substring(6,8)}}</span></td>
	<td><span style="font-size:20px;color:#000000;">申请时间:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transTime.substring(0,2)+":"+pool.transTime.substring(2,4)+":"+pool.transTime.substring(4,6)}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">交易类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">电子银行签约</span></td>
	  <td><span style="font-size:20px;color:#000000;">账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.cardNo}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">签约手机号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.mobile}}</span></td>
	  <td><span style="font-size:20px;color:#000000">电子银行登录用户名:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_LoginId}}</span></td>
 </tr>
 <tr ng-if="pool.PIsEBank=='1'">
	  <td><span style="font-size:20px;color:#000000">网上银行是否开通:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td><span style="font-size:20px;color:#000000">网上银行认证方式:</span></td>
	  <td ng-if="pool.PIsUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令</span></td>
 </tr>
 <tr ng-if="pool.PIsMobileBank=='1'">
    <td><span style="font-size:20px;color:#000000">手机银行是否开通:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td><span style="font-size:20px;color:#000000;">手机银行认证方式:</span></td>
	  <td ng-if="pool.PIsMessType!='1' && pool.PMoUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令</span></td>
	  <td ng-if="pool.PIsMessType=='1' && pool.PMoUkeyType!='1'" style=""><span style="font-size:20px;color:#000000;">短信认证</span></td>
	  <td ng-if="pool.PIsMessType=='1' && pool.PMoUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令、短信认证</span></td>
</tr>
<tr ng-if="'1' == pool.PIsMessType">
    <td><span style="font-size:20px;color:#000000">短信单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">短信单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessDayLimitAmount}}</span></td>
</tr>
<tr>
    <td><span style="font-size:20px;color:#000000">转账单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">转账单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFDayLimitAmount}}</span></td>
</tr>
<tr>
    <td><span style="font-size:20px;color:#000000">是否开通行内转账:</span></td>
	  <td ng-if="pool.ST_BankInnerTransfer=='1'" style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td ng-if="pool.ST_BankInnerTransfer!='1'" style=""><span style="font-size:20px;color:#000000;">不开通</span></td>
	  <td><span style="font-size:20px;color:#000000;">是否开通跨行转账:</span></td>
	  <td ng-if="pool.ST_CrossBankTransfer=='1'" style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td ng-if="pool.ST_CrossBankTransfer!='1'" style=""><span style="font-size:20px;color:#000000;">不开通</span></td>
</tr>
<tr ng-if="null != pool.ST_SecretNotice">
    <td ><span style="font-size:20px;color:#000000">预留信息:</span></td>
	<td colspan = 3><span style="font-size:20px;color:#000000;" id="userSNotice"></span></td>
</tr>
<tr style="display:none">
	<td colspan = 4 ><span id="SNotice">{{pool.ST_SecretNotice}}</span></td>
</tr>
<tr >
    <td ><span style="font-size:20px;color:#000000">联系地址:</span></td>
	<td colspan = 3 ><span style="font-size:20px;color:#000000;" id="useraddress"></span></td>
</tr>
<tr style="display:none">
	<td colspan = 4 ><span id="address">{{pool.address}}</span></td>
</tr>
<tr style="">
<td colspan = 4 style="font-size:20px;color:#000000;">客户签名：<img id="img" src=""  style="width:100px; height:50px"></span></td>
</tr>
</table>


	 
</div>
</div>
 </div>
 <div class=" col-xs-offset-3 col-xs-12" style="margin-top:10%;">
	<button type="button" ng-click="action('return')"  class="col-xs-offset-1 col-xs-2 image-bt" >取消</button>
	<button type="button"  ng-click="action('confirm')" class="col-xs-offset-1 col-xs-2 image-btgr" >确认</button>
</div>

