<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("time").style.display="none";
document.getElementById("Cardjpg").src ="D:/ID_Photos/Card.jpg"+"?"+Math.random();
document.getElementById("FaceImgjpg").src ="D:/FaceImg.jpg"+"?"+Math.random();

//参数为 每隔多少字符插入进行一次断行
self.setTimeout("formatAddress(40)", 100);
function formatAddress(flag){
	 var SNotice = $("#SNotice").html();
    var newstrtwo = "";
    for(var j=0;j<SNotice.length;j+=flag){
        var tmptwo=SNotice.substring(j, j+flag);
        newstrtwo+=tmptwo+"</br>";
    }
     $("#userSNotice").html(newstrtwo);
}
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>

<div style="margin-left:10%;margin-top:-40%">
 <div>
 <p style="font-size:25px;text-align: center;color:#000000;">江苏农村商业银行电子银行变更申请单</p>
 <table height="100px" style="border-radius:10px 10px 10px 10px;">
 <tr>
	  <td  width="180px"><span style="font-size:20px;color:#000000">姓名:</span></td>
	  <td  width="310px"><span style="font-size:20px;color:#000000">{{pool.name}}</span></td>
	  <td  width="180px"><span style="font-size:20px;color:#000000">性别:</span></td>
	  <td  width="230px"><span style="font-size:20px;color:#000000">{{pool.genderC}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">审核柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.adminUserName}}</span></td>
	  <td><span style="font-size:20px;color:#000000">身份证号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">签发机关:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.issueoffice}}</span></td>
	  <td><span style="font-size:20px;color:#000000">有效日期:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.abatedate}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">终端号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_terminalId}}</span></td>
      <td><span style="font-size:20px;color:#000000;">受理柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_tellerno}}</span></td>
 </tr>
 <tr>
    <td><span style="font-size:20px;color:#000000">申请日期:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transDate.substring(0,4)+"/"+pool.transDate.substring(4,6)+"/"+pool.transDate.substring(6,8)}}</span></td>
	<td><span style="font-size:20px;color:#000000;">申请时间:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transTime.substring(0,2)+":"+pool.transTime.substring(2,4)+":"+pool.transTime.substring(4,6)}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">交易类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">电子银行变更</span></td>
	  <td><span style="font-size:20px;color:#000000;">账户:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.cardNo}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">签约手机号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.mobile}}</span></td>
	  <td><span style="font-size:20px;color:#000000">电子银行用户名:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_LoginId}}</span></td>
 </tr>
 <tr ng-if="pool.PIsEBank=='1'">
	  <td><span style="font-size:20px;color:#000000">网上银行是否开通:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td><span style="font-size:20px;color:#000000">网上银行认证方式:</span></td>
	  <td ng-if="pool.PIsUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令</span></td>
 </tr>
 <tr ng-if="pool.PIsMobileBank=='1'">
    <td><span style="font-size:20px;color:#000000">手机银行是否开通:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td><span style="font-size:20px;color:#000000;">手机银行认证方式:</span></td>
	  <td ng-if="pool.PIsMessType!='1' && pool.PMoUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令</span></td>
	  <td ng-if="pool.PIsMessType=='1' && pool.PMoUkeyType!='1'" style=""><span style="font-size:20px;color:#000000;">短信认证</span></td>
	  <td ng-if="pool.PIsMessType=='1' && pool.PMoUkeyType=='1'" style=""><span style="font-size:20px;color:#000000;">二代令、短信认证</span></td>
</tr>
<tr ng-if="null != pool.ST_MessOldOneLimitAmount">
    <td><span style="font-size:20px;color:#000000">原短信单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessOldOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">原短信单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessOldDayLimitAmount}}</span></td>
</tr>
<tr ng-if="null != pool.ST_TRFOldOneLimitAmount">
    <td><span style="font-size:20px;color:#000000">原转账单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFOldOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">原转账单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFOldDayLimitAmount}}</span></td>
</tr>
<tr ng-if="'1' == pool.PIsMessType">
    <td><span style="font-size:20px;color:#000000">短信单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">短信单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_MessDayLimitAmount}}</span></td>
</tr>
<tr>
    <td><span style="font-size:20px;color:#000000">转账单笔限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFOneLimitAmount}}</span></td>
	  <td><span style="font-size:20px;color:#000000;">转账单日限额:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.ST_TRFDayLimitAmount}}</span></td>
</tr>
<tr>
    <td><span style="font-size:20px;color:#000000">是否开通行内转账:</span></td>
	  <td ng-if="pool.ST_BankInnerTransfer=='1'" style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td ng-if="pool.ST_BankInnerTransfer!='1'" style=""><span style="font-size:20px;color:#000000;">不开通</span></td>
	  <td><span style="font-size:20px;color:#000000;">是否开通跨行转账:</span></td>
	  <td ng-if="pool.ST_CrossBankTransfer=='1'" style=""><span style="font-size:20px;color:#000000;">开通</span></td>
	  <td ng-if="pool.ST_CrossBankTransfer!='1'" style=""><span style="font-size:20px;color:#000000;">不开通</span></td>
</tr>
<tr ng-if="null != pool.ST_SecretNotice">
    <td ><span style="font-size:20px;color:#000000">预留信息:</span></td>
	<td colspan = 3><span style="font-size:20px;color:#000000;" id="userSNotice"></span></td>
</tr>
<tr style="display:none">
	<td colspan = 4 ><span id="SNotice">{{pool.ST_SecretNotice}}</span></td>
</tr>
</table>
<table style="margin-top:0%">
    <tr>
		<td width="10%">
			<span style="font-size:15px;color:#000000;">身份证照片:</span>
        </td>
        <td width="7%">
		 <span style="font-size:15px;color:#000000;">现场审核照片:</span>
        </td>
   </tr>
  <tr>
		<td>
			<img id="Cardjpg" src="" style="width:18%;">
       </td>
       <td>
		   <img id="FaceImgjpg" src="" style="width:40%;">
       </td>
 </tr>
<table>
<span style="font-size:15px;color:#000000;">审核结果:{{pool.PERresponseCode}}{{pool.PERerrorMessage}}</span>
<div style="margin-top:2%;font-size:15px; ">
	<p style="margin-left:2%;margin-top:-2%;color:#000000">
	 本人保证所提供的个人资料信息真实、有效、完整。对信息失真或因违反规定而造成的损失和后果,本人愿意承担一切后果及法律
	 </p>
	 <p style="color:#000000">
	 	责任。
	</p>
	 <p style="margin-left:2%;color:#000000">
	  本人已详细阅读业务相关协议及须知,确认申请业务与打印栏记录相符。本人同意贵行有权依据国家有关规定及业务需要对服务内
	 </p>
	 <p style="color:#000000">
	 容、收费项目等内容进行调整,并同意该项调整将于正式对外公告一定时期后执行,无需另行通知本人。
	</p>
	<div style="margin-top:2%;">
	 <span style="margin-left:60%;color:#000000">
	 客户签名:_______________<span id="span"><img id="img" src="d:/sign.png"  style="width:8%; height:2%;margin-left:-10%"></span>
	</span>
</div>
</div>
 </div>
 
 
