<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("MUSIC1").src = "wav/请按指纹.wav";
creatTree(0,"指纹授权");
document.getElementById("Cardjpg").src ="D:/ID_Photos/Card.jpg"+"?"+Math.random();
document.getElementById("FaceImgjpg").src ="D:/FaceImg.jpg"+"?"+Math.random();
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
 <h1 class="text-center">江苏农村商业银行电话银行签约申请单</h1>
 </div>
 </br>
<div class="cook-content">
 

<table class="col-xs-12 balance " border="1" style="height:200px">
        <tr>
            <td ><th class="col-xs-3" style="font-size:20px">姓名:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.name}}</td>
            <td><th class="col-xs-3"style="font-size:20px">性别:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.genderC}}</td>
        </tr>
        <tr>
            <td><th class="col-xs-3"style="font-size:20px">证件号码:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.pid}}</td>
            <td><th class="col-xs-3"style="font-size:20px">证件类型:</th></td>
            <td class="col-xs-3"style="font-size:20px">身份证</td>
        </tr>

        <tr>
            <td><th class="col-xs-3"style="font-size:20px">手机号码:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.mobile}}</td>
            <td><th class="col-xs-3"style="font-size:20px">证件有效日期:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.issuedate}}~{{pool.abatedate}}</td>
        </tr>
        <tr>
		    <td><th class="col-xs-3"style="font-size:20px">转账单笔限额:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.ST_PhoneOneLimitAmount}}</td>
            <td><th class="col-xs-3"style="font-size:20px">转账单日限额:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.ST_PhoneDayLimitAmount}}</td>
        </tr>
    </table>

<table style="margin-left:11.5%" >
    <tr>
		<td width="10%">
			<span style="font-size:20px;font-weight:bold;color:#000000;">联网核查照片:</span>
        </td>
        <td width="7%">
		 <span style="font-size:20px;font-weight:bold;color:#000000;">现场审核照片:</span>
        </td>
   </tr>
  <tr>
		<td>
			<img id="Cardjpg" src="" style="width:18%; border:1px red solid">
       </td>
       <td>
		   <img id="FaceImgjpg" src="" style="width:40%;border:1px red solid">
       </td>
 </tr>
<table>

<div style="margin-top:5%;">
	    <h1 class="text-center" style="display:block;color:#000000">请银行工作人员授权</h1>
	    </br>
	    <h3 class="text-center" style="display:block;color:#000000">请将手指在指纹仪上长按&nbsp;<label id="time" style="width:50px;color:red;">5</label>&nbsp;秒后抬起!</h3>
	</div>
 </div>
 
