<script language="JavaScript" type="text/JavaScript"> 
creatTree(0,"指纹授权");
document.getElementById("MUSIC1").src = "";
document.getElementById("Cardjpg").src ="D:/ID_Photos/Card.jpg"+"?"+Math.random();
document.getElementById("FaceImgjpg").src ="D:/FaceImg.jpg"+"?"+Math.random();
$.ajax({
 	     url: "/custom/document",
 	    cache: false,
 	    type: "get",
 	    data: "commandID=deleteSignImg",
 	    dataType: 'json',
 	    success: function(data) {
 	    }
 	});
var lastUrl;
function Show(type,nScreen,x,y)
{
	lastUrl= "d:/sign.bmp";
	try{
		HandWrite.Show(type,nScreen,x,y);
		document.getElementById("saveS").style.display="block";
		document.getElementById("clearS").style.display="block";
	}catch (e) {
		return;
	 }
}

function SaveSignal()
{
	document.getElementById("saveS").style.display="none";
	document.getElementById("clearS").style.display="none";
	document.getElementById("notice").style.display="none";
   var code=99;
   code=HandWrite.SaveSignal("d:/sign.bmp");
   if(0 == code)
   {
	   $.ajax({
	 	     url: "/custom/document",
	 	    cache: false,
	 	    type: "get",
	 	    data: "commandID=handleSignImg",
	 	    dataType: 'json',
	 	    success: function(data) {
		     document.getElementById("img").src ="d:/sign.png"+"?"+Math.random();
	 	    }
	 	});
		document.getElementById("MUSIC1").src = "wav/请按指纹.wav";
   }else{
	   document.getElementById("saveS").style.display="block";
	   document.getElementById("clearS").style.display="block";
	   document.getElementById("notice").style.display="block";
	   $("#notice").html("签名失败,请重签")
	   return;
	   //alert("打开失败")
   }
   //alert(code);
}

function ClearSignal()
{
   HandWrite.ClearSignal();
}

function Hide(){

  try {
   HandWrite.Hide();
 } catch (e) {
	 //	alert(e);
	 return;
	 }
}	 
function openkeyset(type,x,y)
{

Show(type,x,y)
  
}
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
</style>
<object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49
id="HandWrite">
</object>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div style="margin-left:10%;margin-top:0%;margin-right:10%">
 <div>
 <p style="font-size:25px;text-align: center;color:#000000;">江苏农村商业银行电话银行签约申请单</p>
 <table class="col-xs-12 balance " border="1" style="height:200px">
        <tr>
            <td ><th class="col-xs-3" style="font-size:20px">姓名:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.name}}</td>
            <td><th class="col-xs-3"style="font-size:20px">性别:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.genderC}}</td>
        </tr>
        <tr>
            <td><th class="col-xs-3"style="font-size:20px">证件号码:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.pid}}</td>
            <td><th class="col-xs-3"style="font-size:20px">证件类型:</th></td>
            <td class="col-xs-3"style="font-size:20px">身份证</td>
        </tr>

        <tr>
            <td><th class="col-xs-3"style="font-size:20px">手机号码:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.mobile}}</td>
            <td><th class="col-xs-3"style="font-size:20px">证件有效日期:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.issuedate}}~{{pool.abatedate}}</td>
        </tr>
        <tr>
		    <td><th class="col-xs-3"style="font-size:20px">转账单笔限额:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.ST_PhoneOneLimitAmount}}</td>
            <td><th class="col-xs-3"style="font-size:20px">转账单日限额:</th></td>
            <td class="col-xs-3"style="font-size:20px">{{pool.ST_PhoneDayLimitAmount}}</td>
        </tr>
    </table>

<table style="margin-left:11.5%" >
    <tr>
		<td width="10%">
			<span style="font-size:20px;font-weight:bold;color:#000000;">联网核查照片:</span>
        </td>
        <td width="7%">
		 <span style="font-size:20px;font-weight:bold;color:#000000;">现场审核照片:</span>
        </td>
   </tr>
  <tr>
		<td>
			<img id="Cardjpg" src="" style="width:18%; border:1px red solid">
       </td>
       <td>
		   <img id="FaceImgjpg" src="" style="width:40%;border:1px red solid">
       </td>
 </tr>
<table>
</br>
<span style="margin-top:20%;margin-left:15%;font-size:15px;color:#000000;">审核结果:{{pool.PERresponseCode}}{{pool.PERerrorMessage}}</span>
<div style="margin-top:2%;font-size:15px; ">
	
	<div style="position:fixed;top:70%;left:22%">
	 <!-- <span style="color:#000000">
	 银行盖章:
	</span> -->
	 <span style="position:fixed;top:70%;left:60%;color:#000000" onclick="Show(5,1,280,300)">
	 客户签名:_______________<span id="span">
	</span>
	<span id="notice"  style="position:fixed;width:9%; height:9%;top:68%;left:65%;color:red;">请点击此处签名</span>
	<img id="img" src=""  style="position:fixed;width:8%; height:8%;top:65%;left:65%;"></span>
	 <div id="saveS" style="display:none;position:fixed;top:55%;left:85%"><button type="button" class="button-confirm button-lg1 pull-right"  onclick="SaveSignal()">保存</button></div>
	 <div id="clearS" style="display:none;position:fixed;top:65%;left:85%"><button type="button" class="button-confirm button-lg1 pull-right"  onclick="ClearSignal()">清除</button></div>
	 <div style="position:fixed;top:90%;left:30%">
	    <h1 class="text-center" style="display:block;color:#000000">客户签名后,请银行工作人员授权</h1>
	    </br>
	    <h3 class="text-center" style="display:block;color:#000000">请将手指在指纹仪上长按&nbsp;<label id="time" style="width:50px;color:red;">5</label>&nbsp;秒后抬起!</h3>
	</div>

	<!-- <EMBED id="MUSIC1" SRC="wav/请按指纹.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND> -->
	 
	</div>
</div>
 </div>
 
 
