
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="container step col-xs-offset-0 col-xs-12" ondragstart="return false;">
<div class = "errorpage">
   
	<h1 class="text-center">对不起, 发U盾失败</h1>
<!-- 	<h3 class="text-center">Sorry, Dispense Ukey failed</h3>
 -->	
    <img src="image/icon_failure.png"style="width:200px;">
</div>
</div>
