<!-- 代缴费二级菜单 -->
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>

<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
   <div class="cook-head">
    <h1 class="text-center">请选择支付方式</h1>
    <h3 class="text-center">Please select services</h3>
   </div>
   
   <!-- onmousedown="Mousedown(this)" ng-click="action('PASSBOOK')" -->
   <div class="col-xs-offset-1 col-xs-12 ">
	  <div class="col-md-3 card2" >
        <img id="CARD" src="image/idlebottom/银行卡.png" ng-click="action('CARD')" >
      </div>
	  
	  <div class="col-md-3 card2" >
        <img id="PBK" src="image/idlebottom/存折.png" ng-click="action('PBK')" >
      </div>
	  
	</div>

	<div>
	
	
	
	
	
	
	
</div>
</br>	
	 <div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
        <button type="button" class="image-btor" ng-click="action('return')">返回</button>
    </div>

    