<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>

<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
    <h1 class="text-center">请选择预存金额</h1>
    <h3 class="text-center">Please Select Advance Amount</h3>
	
</div>

<div class="col-xs-offset-0 col-xs-12">
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="ten" src="image/agent/ten.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('10')"/>
	</div>
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="thirty" src="image/agent/thirty.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('30')"/>
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12">
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="fifty" src="image/agent/fifty.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('50')"/>
	</div>
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="oneHundred" src="image/agent/oneHundred.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('100')"/>
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12">
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="twoHundred" src="image/agent/twoHundred.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('200')"/>
	</div>
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="fiveHundred" src="image/agent/fiveHundred.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('500')"/>
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12" style="text-align: center;">
	<div class="col-xs-offset-2 col-xs-3 " style="margin-top:2%;border:0px blue solid;">
			  <img id="oneThousand" src="image/agent/oneThousand.png" class="center" onmousedown="Mousedown(this)"  ng-click="action('1000')"/>
	</div>
	
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align:center;">	
<button type="button" class="  image-btor" style="margin-top:2%;border:0px blue solid;" ng-click="action('return')">返回</button>
</div>