<script language="javascript" type="text/javascript">
document.getElementById("MUSIC1").src = "wav/选择服务项目.wav";
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="container step col-xs-offset-0 col-xs-12">
    <h1 class="text-center">请选择服务项目</h1>
    <h3 class="text-center">Please select services</h3>
</div>
 <div class="step">
		<div class="col-sm-offset-4 col-sm-3">
		  <button type="button" class="button-cash button-lg1 btn-block" style="margin-left:20%;" ng-click="">子账户查询</button>
		</div>
		<div class="col-sm-offset-4 col-sm-3">
		  <button type="button" class="button-cash button-lg1 btn-block" style="margin-left:20%;" ng-click="">查询余额</button>
		</div>
		<div class="col-sm-offset-4 col-sm-3">
		  <button type="button" class="button-cash button-lg1 btn-block" style="margin-left:20%;" ng-click="">明细查询</button>
		</div>
	
</div>
	<div style="margin-top:35%">
		<button id="cancel" type="button" class="col-sm-offset-3 col-xs-2 button-confirm button-lg1" ng-click="action('return')">返回</button>
		<button type="button" class="col-sm-offset-2  col-xs-2 button-eject button-lg1" ng-click="action('eject')">退卡</button>
	</div>