<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript">
	document.getElementById("input_NCCWDTELNumber").focus();
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>
<div class="container step col-xs-offset-o col-xs-12">
    <h1 class="text-center">请输入11位预约手机号,并按[确认]键</h1>
    <h3 class="text-center">Please enter the phone number and press enter</h3>
    
</div>

<div class="step1">
	<form class="navbar-form" role="search" >
	<div class="col-xs-offset-4 col-xs-5" style="margin-left:37%">
        <div class="input-group input-group-lg">
        
            <input type="tel"  onkeyup="checkInput(id),this.value=this.value.replace(/\D/g,'')" onblur="this.focus()" class="form-control" 
                id="input_NCCWDTELNumber"  ng-model="pool.input_NCCWDTELNumber"  data-container="body"  data-placement="left"  
                title="<sp class='fg-red'>手机号输入有误 </sp>" data-content="" data-html="true" maxlength="11" >
      
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="clear()">清  除</button>
            </span>
        </div>
	</div>
	</form>
</div>
<br>
<br>
<div style="margin-top:25%;margin-left:7%">
 	<button id="cancel" type="button" class="col-xs-offset-3 col-xs-2 image-bt"  ng-click="action('cancel')">取消</button>
    <button id="confirm" type="button" class="col-xs-offset-2 col-xs-2 image-btgr"  onclick="checkTEL()">确认</button>
   </div>