<script language="javascript" type="text/javascript">
document.getElementById("input_NCCWDTELNumber").focus();
</script>
<div class="container indicates">
	<span class="timeout pull-right">{{timeout}}</span>
</div>
<div class="container step col-xs-offset-o col-xs-12">
    <h1 class="text-center">输入有误,请输入11位预约手机号,并按[确认]键</h1>
    <h3 class="text-center">Please enter the phone number and press enter</h3>
    
</div>

<div class="step1">
	<form class="navbar-form" role="search" >
        <div class="col-xs-offset-4 col-xs-5">
            <div class="input-group input-group-lg">
                <input type="tel"  onkeyup="checkInput(id),this.value=this.value.replace(/\D/g,'')" onblur="this.focus()" class="form-control" 
                    id="input_NCCWDTELNumber"  ng-model="pool.input_NCCWDTELNumber"  data-container="body"  data-placement="left"  
                    title="<sp class='fg-red'>手机号输入有误 </sp>" data-content="" data-html="true" maxlength="11" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="clear()">清  除</button>
                </span>
            </div>
        </div>
	</form>
</div>
<br>
<br>
<div class="cook-foot" style="margin-top:24%">
   	<button id="cancel" type="button" class="col-xs-offset-3 col-xs-2 button-change button-lg1"  ng-click="action('cancel')">取消</button>
    <button id="confirm" type="button" class="col-xs-offset-2 col-xs-2 button-confirm button-lg1"  onclick="checkTEL()">确认</button>
 </div>