<!--
<div class="container indicates">
	<span class="timeout pull-right">{{timeout}}</span>
</div>
-->
<div class="container step col-xs-offset-0 col-xs-12 head-positiony">
	<h1 class="text-center">正在验钞,请稍候......</h1>
	<h3 class="text-center">The cash notes are being counted,Please be patient</h3>
	 <i style="color:#000000" class="fa fa-spinner fa-spin fa-5x text-primary" ></i>
</div>
<!-- <EMBED id="MUSIC1" SRC="wav/正验钞请稍后.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND> -->
<script>
    document.getElementById("MUSIC1").src = "wav/正验钞请稍后.wav";
</script>