
<div class="container step col-xs-offset-0 col-xs-12 head-positiony">
	<h1 class="text-center">正在处理中,请稍候.....</h1>
	<h3 class="text-center">The transaction is being processed,Please wait ...... </h3>
	
            <i style="color:#000000" class="fa fa-spinner fa-spin fa-5x text-primary" ></i>
    
</div>
<!-- <EMBED id="MUSIC1" SRC="wav/SystemProcessing.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND> -->
<script>
    document.getElementById("MUSIC1").src = "wav/SystemProcessing.wav";
</script>