<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="container step col-xs-offset-0 col-xs-12">
	<h1 class="text-center">不能识别的卡片，请与工作人员联系</h1>
	<h3 class="text-center">Unrecognized card, please contact the staff</h3>
</div>
<!-- <EMBED id="MUSIC1" SRC="wav/对不起，本机目前不支持该卡.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND> -->
<script>
    document.getElementById("MUSIC1").src = "wav/对不起，本机目前不支持该卡.wav";
</script>