<script>
document.getElementById("inputinfo").focus();
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="container step col-xs-offset-0 col-xs-12">
    <h1 class="text-center">请输入内容</h1>
    <h3 class="text-center">Please input</h3>
</div>

 <div class="step1">
   	<form class="navbar-form" role="search" >
<div class="col-xs-offset-4 col-xs-5">
<div class="input-group input-group-lg">
		  <input type="text" class="form-control" id="inputinfo" name="inputinfo" value="" ng-model="pool.inputinfo" >
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button" onclick="Delete()">清  除</button>
		  </span>
	</div><!-- /input-group -->
	</div>
	</form>
	</div>

<div style="margin-top:35%">
	  	
		<button type="button" class="col-xs-offset-2 col-xs-2 button-eject button-lg1" ng-click="action('eject')">退卡</button>
		<button id="cancel" type="button" class="col-xs-offset-1 col-xs-2 button-change button-lg1" ng-click="action('return')">返回</button>
	    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 button-confirm button-lg1" ng-click="action('confirm')">确认</button>
	  
	  </div>
<script type="text/javascript">
function Delete()
{
	document.getElementById("inputinfo").value="";
	document.getElementById("inputinfo").focus();
}
</script>