<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="container step col-xs-offset-0 col-xs-12 head-positiony">
	<h1 class="text-center">请收好您的凭条</h1>
	<h3 class="text-center">Please take your transaction receipt</h3>
	
        <img src="image/print_reciept.gif">
    	
</div>
<!-- <EMBED id="MUSIC1" SRC="wav/取走凭条.wav" Loop=false AUTOSTART=true Hidden=true MASTERSOUND> -->
<script>
    document.getElementById("MUSIC1").src = "wav/取走凭条.wav";
</script>