<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/RendezVous/app.js"></script>
<style  type="text/css">

</style>
<script language="JavaScript" type="text/JavaScript">

document.getElementById("loansRevername1").style.display="none";

</script>

<div class="container indicates"> <span class="timeout pull-right">{{timeout}}</span> </div>
<h3  style="font-size:34px;margin-top:0px;text-align: center;" id="loansRevername">请确认还款信息</h3>
<h3  style="font-size:34px;margin-top:0px;text-align: center;"  display="none" id="loansRevername1">您卡内余额不足，无法结清贷款，请重新选择还款方式</h3>

<div class="container step col-xs-offset-1 col-xs-10" style="margin-top:0%;border:1px red solid;border-radius:10px 10px 10px 10px;box-shadow:0 0 0px red" id="loansReverAll">

  <form class="form-horizontal" style="margin-top:1%;margin-left:15%">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label" style="margin-top:18px;margin-left:-18px;color:#000000">还款方式</label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="text" class='form-control' style='background:#C0C0C0;border:1px red solid;box-shadow:0 0px 0px #000 inset'  id="name" value="放款结清" disabled="disabled" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="pid" class="col-sm-2 control-label" style="margin-top:20px;margin-left:-18px;color:#000000;">还款金额</label>
      <div class="col-sm-4" style="margin-left:18px">
        <input type="text" style='background:#C0C0C0;border:1px red solid;box-shadow:0 0px 0px #000 inset'  class="form-control" id="pid"  value="{{pool.ST_LoansBalance}}" disabled="disabled" readonly>
      </div>
    </div>
  </form>
  
</div>
   <div class="cook-foot col-xs-offset-0 col-xs-12">
          <button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-bt" ng-click="action('return')">退出</button>
          
          <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">确认</button>
		        
    </div>
    <object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49 id="HandWrite">

</object>
