<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12" style= "border:0px blue solid;">

<div class="cook-head">
    <h1 class="text-center">请选择介质类型</h1>
	<h1 class="text-center">{{ST_LoansCNTTNo}}</h1>
 
	</br>
</div>
<div class="cook-head">
<h1 class="text-center">111111---{{pool.ST_LoansCNTTNo}}</h1>
</div>
<div class="cook-head">
<h1 class="text-center">22222---{{pool.ST_LoansLimit}}</h1>
</div>
<div class="cook-head">
<h1 class="text-center">33333---{{pool.ST_LoansTimeLimit}}</h1>
</div>
<div class="cook-head">
<h1 class="text-center">44444---{{pool.cardNo}}</h1>
</div>
<div class="cook-head">
<h1 class="text-center">55555---{{pool.ST_CifNo}}</h1>
</div>

</div>

<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
	<button id="cancel" type="button" class="image-bt" style="text-align: center;" ng-click="action('confirm')">确认</button>
</div>
	

