<!-- 社保卡业务二级菜单 -->
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-1 col-xs-10 " style= "border:0px blue solid;">

<div class="cook-head">
    <h1 class="text-center">请选择服务项目</h1>
    <h3 class="text-center">Please select services</h3>
</div>
</br>
</br>
</br>
<div class="col-xs-offset-0 col-xs-12" style= "margin-top:0%;height:100px;border:0px red solid;">
    <div class="col-md-3 card2" ng-if="pool.Trans_socialActive == 'active'">
			<img class="menu" id="SocialActive" src="image/tfc/socialactive.png" onmousedown="Mousedown(this)" ng-click="action('SocialActive')"/>
	</div>
		
	<div class="col-md-3 card2" ng-if="pool.Trans_minshengSocial == 'active'">
			<img class="menu" id="PeopleSocial" src="image/tfc/minsheng.png" onmousedown="Mousedown(this)" ng-click="action('PeopleSocial')"/>
	</div>
	
	<!-- <div class="col-md-3 card2" ng-if="pool.Trans_socialLoss == 'active'">
			<img class="menu" id="SocialLoss" src="image/tfc/SocialLoss.png" onmousedown="Mousedown(this)" ng-click="action('SocialLoss')"/>
	</div> -->
</div>
	
<div class="cook-foot col-xs-offset-0 col-xs-12">
    	<button  id="cancel" type="button" class="col-xs-offset-5 col-xs-2 image-btor"  ng-click="action('return')">返回</button>
</div>		
				

