<div class="container indicates">
    <div class="timeout pull-right"><span>{{timeout}}</span></div>
   
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">

<div class="cook-head">  
    <h1 class="text-center">请确认缴费信息</h1>
	<h3 class="text-center">Please confirm the transfer information</h3>
</div>
<div class="cook-content">
	<table class="col-xs-12 balance">
		<tr> <th class="col-xs-6"><h2>保险种类：</h2></th><td> <h2>{{pool.instype}} &nbsp;</h2></td> </tr>
		<tr> <th class="col-xs-6"><h2>开始年月：</h2></th><td> <h2>{{pool.ksny}} &nbsp;</h2></td> </tr>
		<tr> <th class="col-xs-6"><h2>终止年月：</h2></th><td> <h2>{{pool.zzny}} &nbsp;</h2></td> </tr>
		<tr> <th class="col-xs-6"><h2>缴费单号：</h2></th><td> <h2>{{pool.payno}} &nbsp;</h2></td> </tr>
		<tr> <th class="col-xs-6"><h2>缴费金额：</h2></th><td> <h2>{{pool.amount}} &nbsp;</h2></td> </tr>
	</table>
</div>

<div style="margin-top:12%">
  <h1 class="text-center" style="font-size: 180%;color:#000">请核对上述信息是否正确</br>按[确认]键继续</br></h1>
</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
	<button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-btor" ng-click="action('return')">返回</button>
    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">确认</button>
</div>