<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>

<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">

<div class="cook-head">
    <h1 class="text-center">请您选择存期</h1>
    <h3 class="text-center">Please select the maturity</h3>
	</br>
</div>

<div class="col-xs-offset-0 col-xs-12" style="text-align: center;">
	<div class="col-xs-offset-1 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="M3" src="image/tfc/三个月.png"  ng-click="action('M3')" />
	</div>
	<div class="col-xs-offset-2 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="M6" src="image/tfc/六个月.png"   ng-click="action('M6')" />
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12" style="text-align: center;">
	<div class="col-xs-offset-1 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="Y1" src="image/tfc/一年.png"   ng-click="action('Y1')" />
	</div>
	<div class="col-xs-offset-2 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="Y2" src="image/tfc/两年.png"   ng-click="action('Y2')" />
	</div>
</div>

<div class="col-xs-offset-0 col-xs-12" style="text-align: center;">
	<div class="col-xs-offset-1 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="Y3" src="image/tfc/三年.png"   ng-click="action('Y3')" />
	</div>
	<div class="col-xs-offset-2 col-xs-4 " style="margin-top:2%;border:0px blue solid;">
	<img id="Y5" src="image/tfc/五年.png"   ng-click="action('Y5')" />
	</div>
</div> 
 
</div>


	

