<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
	<span class="">{{timeout}}<span>
	</div>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
	<h1 class="text-center">{{pool.msg_TFCNumber}}</h1>
</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12">
    <button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-btor" ng-click="action('eject')">退卡</button>
	<button  id="confirm" type="button" class="col-xs-offset-1 col-xs-2 button-eject image-btgr" ng-click="action('confirm')">确定</button>
</div>