<script src="js/admin/base.js"></script>
<script>
var isRunning = false;
var data = "/admin/NewAdminDataServlet";
$(document).ready(function() {
	$.ajax({
	    url: data,
	    cache: false,
	    type: "post",
	    data: "commandID=data-get-manage-user",
	    dataType: 'json',
	    success: function(data) {
	    	if (data.Result == '0') {
	    		var users = data.Users, user;
	    		var i = 0;
	    			while (users.indexOf("  ") > 0) {
	    			user = users.substring(0, users.indexOf("--"));
	    			users = users.substring(users.indexOf("--") + 2);
	    			code = user.substring(0, 8);
	    			role = user.substring(8,16);
	    			name = user.substring(16);
	    			$("#sel_trans").append("<option id="+code +" value="+code+">"
								  + code+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
								  + role+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
								  + name
								  + "</option>");
								  i++;
	    	
	    		
	    	}
	    		// 判断是否存在可重置密码的用户
	    		if (i == 0) {
	    				$("#sel_trans").append("<option style=\"color:red\"  id='' value=>"
								  +"当前没有可重置密码的操作员"
								  + "</option>");
					 $("#reset").attr("disabled",true);
	    			return;
	    		}
	    	
        	}
        	else {
        		$("#sel_trans").append("<option  style=\"color:red\" id='' value=>"
								  +"获取可重置密码操作员失败 "
								  + "</option>");
			  $("#reset").attr("disabled",true);
        	}
	    }
	});
});

function confirm() {

var code = $("#sel_trans ").val();

if (code == "" || null == code) {
$('#comment').text("请选择操作员");
	return;
}
	$.ajax({
	    url: data,
	    cache: false,
	    type: "post",
	    data: "commandID=data-reset-password&code=" + code,
	    dataType: 'json',
	    success: function(data) {
	    	if (data.Result == 0) {
	        	$('#comment').html("重置密码成功");
	    	}
	    	else {
	    		$('#comment').text("重置密码失败");
	    	}
	    }
	});
}

function select() {
$('#comment').html("&nbsp;");
}
    </script>
</head>

<h2 id="head" class="text-center">密码重置</h2>
<div id="content">
  <div class="col-xs-offset-2 col-xs-8"style="border:0px #FFFFFF solid;">
    <table id="table" class="col-xs-12 fg-black table table-striped"   >
      <tr>
        <td   ><table  style="border:0px red solid;" class="col-xs-12">
            <tr>
              <td align="left"><select name="select" onchange="select()" size="16" style="font-size:20px;" id="sel_trans" class="col-xs-10">
                </select></td>
              <td  align="left"  class="col-xs-4"><table t border="0"  style="text-align:left;" class="col-xs-12">
                  <tr>
                    <td ><button type="button" name="enter" class="btn btn-info btn-lg"  onclick="confirm()" id="reset" >密码重置</button></td>
                  </tr>
                  <tr>
                    <td><label  class="fg-red"  style=" font-size:18px;text-left:center;" id="comment">&nbsp;</label></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
    </table>
  </div>
</div>
<div id="foot" class="col-xs-offset-5 col-xs-2">
  <div class=" btn-group btn-group-justified" >
    <div class="btn-group">
      <button type="button" id="return" class="btn btn-primary btn-lg" ng-click="action('return')">返回主页面</button>
    </div>
  </div>
</div>
</body></html>