<script src="js/admin/base.js"></script>
<script>
var common = "/admin/NewAdminCommonServlet";
var data = "/admin/NewAdminDataServlet";
var isFirstLogin = false;
var isRunning = false;
var mark = false;         //判断有没有修改密码
var userID = "";




$(document).ready(function() {

	// 先判断是不是第一次登录
	$.ajax({
		url: common,
		cache: false,
		type: "post",
		data: "commandID=common-is-first-login",
		dataType: 'json',
		success: function(data) {
		userID = data.UserID;
			// 第一次登录
		    if (data.Result == 0) {
		    $("#return").attr("disabled",true);
		    	isFirstLogin = true;
	    	if(data.UserID=="11"){
		    	$("#FirstLogin").css("display","block");
				$("#FirstLogin1").css("display","block");
			 document.getElementById("usname").focus();
			 openkeyset(2,1100,500);//打开虚拟键盘
		}else{
			document.getElementById("oldpassword").focus();
			 openkeyset(1,1100,500);//打开虚拟键盘
		}
		    }
		    
		   
		}
	});
});


function checkInput(id) { //清除提示框
	var ev =  window.event;
	//destory();
	//if(id=="oldpassword"&&document.getElementById("oldpassword").value.length==6){
	//document.getElementById("newpassword1").focus();
	//}
	//if(id=="newpassword1"&&document.getElementById("newpassword1").value.length==6){
	//document.getElementById("newpassword2").focus();
	//}
	if(ev.keyCode!= 13){

	$("#"+id).popover('destroy');
	}
	
}

function checkInput(id, rule) {
	try{
		var type=HandWrite.GetPadType(); //获取软键盘类型，1为纯数字键盘
		if(type == '1' && event.keyCode == 65){
			document.getElementById(id).value = '';
		}
	}catch(e){
	}
	
	if(event.keyCode == 13) return;
	$("#" + id).popover('destroy');
	if (rule == undefined) return;
	if (!new RegExp(rule).test(document.getElementById(id).value)) {
		document.getElementById(id).value = document.getElementById(id).value.substring(0, document.getElementById(id).value.length - 1);
	}
	
}

function confirm() {
	var oldpassword = document.getElementById("oldpassword").value;
	var newpassword1 = document.getElementById("newpassword1").value;
	var newpassword2 = document.getElementById("newpassword2").value;
	var usname = document.getElementById("usname").value;
	var emcode = document.getElementById("emcode").value;
	if(userID=="11" && '' == usname && isFirstLogin ){
	$("#usname").attr("data-content","请输入用户姓名");
	$("#usname").popover('show');
		document.getElementById("usname").focus();
		return;
	}
	
	if (userID=="11" && '' == emcode && isFirstLogin) {
		$("#emcode").attr("data-content","请输入员工身份证号");
  		$("#emcode").popover('show');
		document.getElementById("emcode").focus();
		return;
	}
	if ('' == oldpassword) {
	
	$("#oldpassword").attr("data-content","请输入原密码");
	$("#oldpassword").popover('show');
		document.getElementById("oldpassword").focus();
		return;
	}
	if (6 != oldpassword.length) {
	$("#oldpassword").attr("data-content","原密码长度为6位");
	$("#oldpassword").popover('show');
		document.getElementById("oldpassword").value = "";
		document.getElementById("oldpassword").focus();
		return;
	}
	if (newpassword1 != newpassword2) {
	$("#newpassword1").attr("data-content","两次输入的新密码不一致");
	$("#newpassword1").popover('show');
		document.getElementById("newpassword1").value = "";
		document.getElementById("newpassword2").value = "";
		document.getElementById("newpassword1").focus();
		return;
	}
	if ('' == newpassword1) {
		$("#newpassword1").attr("data-content","新密码不能为空");
		$("#newpassword1").popover('show');
		document.getElementById("newpassword1").value = "";
		document.getElementById("newpassword1").focus();
		return;
	}
	if (6 != newpassword1.length) {
		document.getElementById("newpassword1").value = "";
		document.getElementById("newpassword1").focus();
		$("#newpassword1").attr("data-content","新密码长度必须为6位");
		$("#newpassword1").popover('show');
		return;
	}
	if (oldpassword == newpassword1) {
		$("#oldpassword").attr("data-content","新旧密码不能相同");
		$("#oldpassword").popover('show');
		document.getElementById("oldpassword").value = "";
		document.getElementById("newpassword1").value = "";
		document.getElementById("newpassword2").value = "";
		document.getElementById("oldpassword").focus();
		return;
	}
	
	$.ajax({
	    url: data,
	    cache: false,
	    type: "post",
	    data: "commandID=data-change-password&oldpassword=" + oldpassword + "&newpassword=" + newpassword1 + "&usname=" + usname + "&emcode=" + emcode,
	    dataType: 'json',
	    success: function(data) {
	    	if (data.Result == 0) {
	    	$("#oldpassword").attr("data-content","原密码输入错误");
			$("#oldpassword").popover('show');

	        	document.getElementById("oldpassword").value = "";
	        	document.getElementById("newpassword1").value = "";
	        	document.getElementById("newpassword2").value = "";
	        	document.getElementById("oldpassword").focus();
	    	}
	    	else if (data.Result == 1) {
	    	$("#newpassword1").attr("data-content","新密码过于简单");
			$("#newpassword1").popover('show');
	        	document.getElementById("newpassword1").value = "";
	        	document.getElementById("newpassword2").value = "";
	        	document.getElementById("newpassword1").focus();
	    	}
	    	else if (data.Result == 2) {
	    	Hide();
	    		if (isFirstLogin) {
	    		 $('#myModal').modal('show');
	        		$("#return").css("display","none");
	        		$("#first").css("display","block");
	        		mark = true;
	        	}
	        	else {
	        	 $('#myModal').modal('show');
					$("#return").css("display","none");
	        		$("#first").css("display","block");
	        		mark = true;
	        	}
	        	document.getElementById("usname").value = '';
	        	document.getElementById("oldpassword").value = '';
				document.getElementById("newpassword1").value = '';
				document.getElementById("newpassword2").value = '';
				document.getElementById("emcode").value = '';				
				document.getElementById("oldpassword").focus();
	        }
	        else {
	        	$('#comment').text("密码修改失败");

	        }
	    }
	});
}
function first(){

//$("#first").click();
}
    </script>
</head>

<h2 id="head" class="text-center">修改密码</h2>
<div id="content">
  <div class="col-xs-offset-1 col-xs-10"style="border:0px #FFFFFF solid;">
 
  <form class="form col-xs-offset-1 col-xs-10">
   
    <div class="col-xs-6 col-xs-offset-3" id="FirstLogin" style="display:none">
      <div class="input-group input-group-lg"> <span class="input-group-addon ">请输入姓名</span>
        <input type="text" id="usname" maxlength="5" onclick="openkeyset(2,1100,500)" onkeyup="checkInput(id)" class="form-control" data-container="body"  data-placement="right" 
      title="<sp class='fg-red'>输入有误 </sp>" data-content=""  class="form-control"  data-html="true">
      </div>
    </div>
    </br>
    </br>
	</br>
	 <div class="col-xs-6 col-xs-offset-3" id="FirstLogin1" style="display:none">
      <div class="input-group input-group-lg"> <span class="input-group-addon ">请输入身份证号</span>
        <input type="text" id="emcode" maxlength="18" onclick="openkeyset(3,1100,500)" onkeyup="checkInput(id,/^([X-X0-9]){1,50}$/)" class="form-control" data-container="body"  data-placement="right" 
      title="<sp class='fg-red'>输入有误 </sp>" data-content=""  class="form-control"  data-html="true">
      </div>
    </div>
    </br>
    </br>
	</br>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group input-group-lg"> <span class="input-group-addon">输入原密码</span>
        <input type="password" id="oldpassword" maxlength="6" onclick="openkeyset(1,1100,500)" onkeyup="checkInput(id)" class="form-control" data-container="body"  data-placement="right" 
      title="<sp class='fg-red'>输入有误 </sp>" data-content=""  class="form-control"  data-html="true" />
      </div>
    </div>
    </br>
    </br>
	</br>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group input-group-lg"> <span class="input-group-addon ">输入新密码</span>
        <input type="password" id="newpassword1" maxlength="6" onclick="openkeyset(1,1100,500)" onkeyup="checkInput(id)" class="form-control" data-container="body"  data-placement="right" 
      title="<sp class='fg-red'>输入有误 </sp>" data-content=""  class="form-control"  data-html="true" />
      </div>
    </div>
    </br>
    </br>
	</br>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group input-group-lg"> <span class="input-group-addon ">确认新密码</span>
        <input type="password" id="newpassword2" maxlength="6" onclick="openkeyset(1,1100,500)" onkeyup="checkInput(id)" class="form-control" data-container="body"  data-placement="right" 
      title="<sp class='fg-red'>输入有误 </sp>" data-content=""  class="form-control"  data-html="true">
      </div>
    </div>

    <div id="title_text" class="col-xs-offset-0 col-xs-12" style="margin-top:20px;border:0px red solid;font-size:26px; text-align:center;font-family:方正粗倩简体;">
      <label  class="fg-blue"  style="color:black" id="comment2"> 密码为6位长度的数字，设置新密码请勿过于简单<br/>
        不接受如：888888，123456等数字作为密码</label>
    </div>
    <div  class="col-xs-offset-3 col-lg-6" id="title_text" style="border:0px red solid;font-size:26px; text-align:center;font-family:方正粗倩简体;">
      <label  class="fg-red"  style="color:black" id="comment"></label>
    </div>
    </div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class=" col-xs-offset-3 col-xs-6 alert alert-danger fade in" style="top:300px">
           <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">密码修改完成<br>
            点击-返回登录-进行重新登录</h4>
        </div>
     
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
</div>
<div id="foot" class="col-xs-offset-4 col-xs-4">
  <div class=" btn-group btn-group-justified" >
    <div class="btn-group" >
      <button type="button" class="btn btn-primary btn-lg" id="return"  onclick="Hide()" ng-click="action('return')">返回主页面</button>
      <button type="button" class="btn btn-primary btn-lg" id="first" onclick="Hide()"  style="display:none" ng-click="action('login')">返回登录</button>
    </div>
    <div class="btn-group">
      <button id="confirm"  name="enter"type="button" class="btn btn-success btn-lg" onclick="confirm()">确认</button>
    </div>
  </div>
</div>
 <object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49
 id="HandWrite">
  </object>
