.Btn{ background-color:#E6E6E6; margin:5px;padding:5px; width:auto; height:auto; line-height:25px; text-align:center; font-size:15px; border:1px solid black; cursor:pointer;}

#SessionPrompt_Div {
	position:relative;
	z-index:9999;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
	border:1px solid white;
	display: block;
	line-height: 50px;
	position: absolute;
	text-align: center;
	width: 200px;
	color: white;
}

/*callLayer*/
#callLayer {
	display: none;
	border-radius: 5px;
	width: 600px;
	height: 280px;
	line-height: 50px;
	box-shadow: 0 0 5px black;
}

#callLayer h4 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	padding-left: 25px;
	text-align: left;
	height:45px;
}
#queueMsg1 {
	background: url("../img/15.png") no-repeat;
    margin-left: 110px;
    padding-left: 60px;
    text-align: center;
}
strong {
	color: #ee5e0f;
}

#queueMsg2 {
	display: none;
	background: url("../img/14.png") no-repeat;
    padding-left: 40px;
    width: 360px;
}
#takeUp {
	background-color: #4baf4f;
}
#takeUp:hover { background-color: #349638;}
#queueMsg2 .confirmMsg {
	padding: 8px 25px;
	border: 0;
	margin-left: 40px;
	color: #fff;
	border-radius: 3px;
	margin: 40px 20px 40px 10px;
}
#reject {
	background: #fd5621;
}
#reject:hover {
	background: #db4819;
}
#queueMsg1 .confirmMsg {
	background-color: #fd5621;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    margin-left: 90px;
    margin-top: 10px;
    padding: 8px 10px;
}
.confirmMsg:hover {
    background: #db4819;
    cursor: pointer;
}



#Initiative_Call_Div {
    display:none;
    width: 300px;
    height: 170px;
    position: absolute;
    background: url('../image/anychat/PrivateChat.png');
    z-index: 99999;
    text-align: center;
}

.Div_HeadPart {
    width: 285px;
    height: 40px;
    margin: 10px 10px 0px 5px;
}

.Div_HeadPart img {
    cursor: pointer;
    margin: 10px 0px 0px 250px;
}
.Call_Div_Content {
    text-align: center;
    width: 285px;
    height: 70px;
    margin: 0px 10px 0px 5px;
    font-family: 微软雅黑;
    font-size: 13px;
}
.Call_Div_Button {
    width: 285px;
    height: 30px;
    margin: 0px 10px 0px 5px;
}
#Initiative_Cancel_Button {
    cursor: pointer;
    background: url('../image/anychat/CancelBtn.png');
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}
.callBox {padding-top: 0%;}
.queueBox { text-align: left;}
#videoCall {
   width: 880px;margin-top: -5px;
}
#clientList {
    height:300px;width:240px;padding-top: 15px;
}
#clientList strong {
    color:orange;margin-top:10px;display: block;
}
#clientst b {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
#localVideoDiv {
    width:240px;padding-top:10px;
}
#localAudioVolume {
    width:240px;height:5px;
}
#removeVideoDiv {
    float:right;text-align: center;
}
#removeVideoPos {
    width:568px;height:426px;
}
#remoteAudioVolume {
    background:green;width:568px;height:5px;
}

/* 视频层样式 */
#VideoShowDiv {
	display:none;
    background-image: url("../image/anychat/03.png");
    height: 455px;
    width: 1020px;
    z-index: 40;
    position: relative;
}

.videoshow0 {
	background: url("../image/anychat/videobk.jpg");
    height: 355px;
    left: 21px;
    position: absolute;
    top: 15px;
    width: 480px;
}

.videoshow1 {
	background: url("../image/anychat/videobk.jpg") !important;
    height: 355px;
    position: absolute;
    right: 23px;
    top: 15px;
    width: 480px;
}

.ShowName {
    color: White;
    font-family: 微软雅黑;
    font-size: 22px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 376px;
    width: 480px;
}



/*anychat日志*/
#LOG_DIV_BODY {
	bottom: -210px;
	display: none;
	height: 200px;
	position: fixed;
	right: 20px;
	z-index: 99999;
	right: 0;
	width: 420px;
}

#LOG_DIV_TITLE {
	font-size: 12px;
	padding: 10px;
	line-height: 15px;
	position: absolute;
	right: 0px;
	z-index: 99999;
	background: #00a4e3;
	width: 402px;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}

#LOG_DIV_TITLE b {
	display: block;
	text-align: center;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}
#LOG_DIV_TITLE b:hover {
	background: #ccd0d9;
	color: white;
}
#LOG_DIV_CONTENT {
	margin-top: 35px;
	font-size: 12px;
	height: 155px;
	overflow-y: auto;
	padding: 10px;
	position: absolute;
	width: 400px;
	z-index: 99999;
	border: 1px solid #00cae5;
	right: 0;
	text-align: right;
}
#LOG_DIV_CONTENT font {
	margin-bottom: 4px;
	display: inline-block;
}
#LOG_DIV_CONTENT:hover {
	background-color: #d1f0ed;
}

#loginRoom {
	text-align: center;
	display: block;
	background-color: #00cae5;
	padding: 5px 80px;
	margin-top: 45px;
	margin-left: 60px;
	border: 0;
	color: white;
}

#mDefaultServerAddr,#mDefaultServerPort {
	color: #999;
	border: 1px solid #d6d6d6;
	height: 30px;
	line-height: 30px;
	padding-right: 2px;
	padding-left: 2px;
	width: 117px;
	border-radius: 3px;
	margin-left: 5px;
}

#mDefaultServerPort {
	width: 50px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}

body {
	//background: #e8e8e8;
}

a.btn {
	background: white;
	border: 2px solid gray;
	padding: 5px 15px;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	color: black;
	font-weight: normal;
}

a.btn:hover {
	background: #FEB;
	color: white;
}

.enterRoom {
	display: none;
	text-align: center;
	min-width: 1024px;
	min-height: 665px;
}

.head {
	position: relative;
	line-height: 67px;
	height: 67px;
	background: #00cae5;
	box-shadow: 1px 1px 3px gray;
}
.head h2:first-child{display:none;}
.head h2 {
	color: white;
	letter-spacing: 8px;
}

.head a.btn {
	position: absolute;
	right: 10px;
	top: 14%;
}

.contentArea {
	text-align: left;
}

.content {
	min-height: 535px;
	height: 90%;
	position: relative;
}
/*日志输出层*/
#LOG_DIV_BODY iframe {
	background-color:transparent;
	position: absolute;
	z-index: 9999;
	width: 100%; height: 100%; top: 0;left:0;
}
.showBox {
	background: #00a4e3;
	color: #fff;
	padding: 2px 15px;
	position: fixed;
	bottom: 0px;
	right: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#showLog {
	font-size: 16px;
}
#icon {
	width: 25px;
	height:32px;
	display: inline-block;
	float: left;
	margin-right: 5px;
	background: url('../image/anychat/book.png') no-repeat;
	margin-top: 2px;
}
.list {
	padding: 3% 110px 0;
	color: white;
}

.list li {
	display: inline-block;
	width: 250px;
	height: 350px;
	list-style: none;
	margin: 11px;
	background: #6C5;
	position: relative;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #ccc;
	text-align: center;
	float: left;
}

.list li p {
	margin: 15px 0;
	font-size: 13px;
	width: 100%;
}

.list li p:first-child {
	font-weight: bold;
	font-size: 20px;
	margin-top: 35px;
}

.list li p:last-child {
	background: white;
	position: absolute;
	bottom: 0;
	margin: 0px;
	padding: 20px 0;
	left:0;
}

.list li p:last-child a.btn {
	position: static;
	border: 1px solid gray;
	/*border-bottom: 2px solid gray; */
	border-radius: 3px;
	color: green;
	padding: 10px 35px;
}


.list li p:last-child a.btn:hover {
	background: none;
	box-shadow: 1px 1px 3px gray;
	font-weight: bold;
}

.list p.description {
	line-height: 20px;
	margin: 0 auto;
	text-overflow: ellipsis;
	width: 80%;
	height: 40px;
}

#LOADING_GREY_DIV {
	display: none;
	background: rgba(255, 255, 255, 0.6) !important;
	filter: Alpha(opacity = 40);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 44;
	text-align: center;
}
#LOADING_GREY_DIV h2 {
	margin:10px;
	color: orange;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	margin-top:20%;
	line-height:53px;height: 53px
}
#LOADING_GREY_DIV h2 img {
	height: 35px;margin-top:10px
}
#LOADING_GREY_DIV h2 span {
	float: right;margin-left: 10px;
}
