<script>
creatTree(0,"");
document.getElementById("MUSIC1").src = "";
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
	<h1 class="text-center">对不起，您选择的待更换卡片状态不正常，</h1>
	<h1 class="text-center">请重新选择您要更换的借记卡</h1>
</div>
</div>