<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/JavaScript">
    document.getElementById("MUSIC1").src = "";
	var scope = angular.element(main).scope();
	scope.selectAccNo = function (pid) {	
		var _detail = scope.pool["detail"].split('#');
        for (var i = 0; i < _detail.length; i ++) {
            if (pid == _detail[i].split('@')[0]) {
                scope.pool["inAccountNo"] = _detail[i].split('@')[0];
                break;
            }
        }
		scope.action("confirm");
	}
	
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-0 col-xs-12" style= "border:0px red solid;">
    <div class="cook-head">
		<h1  class="text-center">请选择信用卡账户</h1>
    </div>
    
    <table class=" table-striped  table-bordered" width="100%" style="text-align:center;">
        <tr style="font-weight:bold;font-size:18px;">
            <td height="33px">卡号</td>
            <td height="33px">有效期</td>
            <td height="33px">开卡日期</td>
            <td height="33px">操作</td>
        </tr>
        <tr ng-repeat="x in detail" >
            <td height="33px">{{ x.key0}}</td>
            <td height="33px">{{ x.key1}}</td>
            <td height="33px">{{ x.key3}}</td>
            <td height="33px">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="selectAccNo(x.key0)">选择</button>
                </span>
            </td>
        </tr>
	</table>
</div> 	   
<div class="cook-foot col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
<div class="col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
	<h1 class="text-center" style="font-size: 140%;">第{{pageNo}}页,共{{pageSize}}页</h1>	
</div>
<div ng-if="pageSize > 1">
		<button type="button" class="col-xs-offset-1 col-xs-2 image-btor" ng-click="action('cancel')">结束</button>
		<button type="button" class="col-xs-offset-1 col-xs-2 image-btor" ng-click="action('return')">返回</button>
		<button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr"  ng-hide="Prev"ng-click="next(-1)">上一页</button>
		<button  type="button"  class="col-xs-offset-1 col-xs-2 image-btgr"   ng-hide="Next"    ng-click="next(1)">下一页</button>
</div>
<div ng-if="pageSize <= 1">
		<button type="button" class="col-xs-offset-3 col-xs-2 image-btor" ng-click="action('cancel')">结束</button>
		<button type="button" class="col-xs-offset-2 col-xs-2 image-btor" ng-click="action('return')">返回</button>
</div>
</div>