<script>
creatTree(0,"阅读协议");
</script>
<style type="text/css">
h1	{font:bold 1.2em/1.6em arial;margin:4px 0;padding:4px 0;}
h2	{font:normal 1.1em/1.5em arial;margin:14px 0 0 0;padding:4px 0;}
.ment {font: normal 1em/1.3em arial;}

div.terms p { 
	font-family:'微软雅黑';
    font-size: 18px;
    color:#000;
    text-align:left;
    }


</style>
<div class="container indicates">
    <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
   	<div class=" col-xs-offset-1 col-xs-10" style="margin:0% 10%;border:0px blue solid;  background: url(image/texteara.png) ">
     
 	<h3  style="font-size:34px;margin-top:0px;text-align: center;">个人税收居民身份声明文件</h3>
   <!--  <h4 style="font-size:25px;margin-top:10px; font-weight:600; text-align:center;color:#000000;">
	
     </h4> -->
 
        <div class=" terms step ">  
         <p style="font-size:20px;margin-top:10px; font-weight:600; line-height:30px; text-indent:2em;color:#000000;">
  
        本人确认上述税收居民信息的真实、准确和完整，且当这些信息发生变更时，将在30日内通知贵机构，否则本人承担由此造成的不利后果。
  
		</P>  
					 
    	<p class="ment">
		
		

		</br>
		
      　　说明：1、本机所称中国税收居民是指在中国境内有住所，或者无住所而在中国境内居住满一年的个人。
	  在中国境内有住所是指因户籍、家庭、经济利益关系而在中国境内习惯性居住。在境内居住满一年，是指在一个纳税年度中在中国境内居住365日。
	  临时离境的，不扣减日数。临时离境，是指在一个纳税年度中一次不超过30日或者累计不超过90日的离境。</br>
        
		 &nbsp &nbsp&nbsp &nbsp2、本机所称非居民是指中国税收居民以外的个人。其他国家（地区）税收居民身份认定规则及纳税人识别号相关信息请参见国家税务总局网站。
       </p></div>
			
		</div>
	
		
	    <div class="cook-foot col-xs-offset-0 col-xs-12">
    	    <button  type="button" class="col-xs-offset-4 col-xs-2 image-bt"  ng-click="action('no')">退 出</button>
    	    <button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr" ng-click="action('confirm')">本人已阅读确认</button>
	    </div>