<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/JavaScript">
   document.getElementById("MUSIC1").src = "";
	var scope = angular.element(main).scope();
	scope.selectBindNo = function (pid) {	
		var _detail = scope.pool["detail"].split('#');
        for (var i = 0; i < _detail.length; i ++) {
            if (pid == _detail[i].split('@')[0]) {
                scope.pool["payeracc"] = _detail[i].split('@')[0];
				scope.pool["ST_CardCatlog"] = _detail[i].split('@')[3];
                break;
            }
        }
		scope.action("confirm");
	}
	
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-0 col-xs-12" style= "border:0px red solid;">
    <div class="cook-head">
		<h1 ng-if="pool.menuAction=='RepayBindAccount'" class="text-center">请选择信用卡自动还款需要绑定的借记卡</h1>
		<h1 ng-if="pool.menuAction=='SocialLoss'" class="text-center">请选择需要挂失的社保卡</h1>
		<h1 ng-if="pool.menuAction!='RepayBindAccount'&&pool.menuAction!='SocialLoss'" class="text-center">请选择借记卡账户</h1>
    </div>
 
    <table class=" table-striped  table-bordered" width="100%" style="text-align:center;">
        <tr style="font-weight:bold;font-size:18px;">
            <td height="33px">卡号</td>
            <td height="33px">开卡日期</td>
            <td height="33px">卡种名称</td>
            <td height="33px">卡状态</td>
			<td height="33px">帐号类型</td>
			<td height="33px">是否配卡</td>
            <td height="33px">操作</td>
        </tr>
        <tr ng-repeat="x in detail" ng-if="x.key0 != pool.creditbindAccount">
            <td height="33px"  >{{ x.key0}}</td>
            <td height="33px">{{ x.key2}}</td> 
            <td height="33px">{{ x.key3}}</td>
            <td height="33px">{{ x.key4}}</td>
			<td ng-if="x.key6 == '1'" height="33px">一类户</td>
			<td ng-if="x.key6 == '2'" height="33px">二类户</td>
			<td ng-if="x.key6 == '3'" height="33px">三类户</td>
			<td ng-if="x.key6 != '1'&&x.key6 != '2'&&x.key6 != '3'" height="33px">{{x.key6}}</td>
			<td ng-if="x.key9 == 'Y'" height="33px">是</td>
			<td ng-if="x.key9 == 'N'" height="33px">否</td>
			<td ng-if="x.key9 != 'Y'&&x.key9 != 'N'" height="33px">{{x.key9}}</td>
            <td height="33px">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="selectBindNo(x.key0)">选择</button>
                </span>
            </td>
        </tr>
	</table>
</div> 	   

 <div class="cook-foot col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
 <div class="col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
 	<h1 class="text-center" style="font-size: 140%;">第{{pageNo}}页,共{{pageSize}}页</h1>	
 </div>
 <div ng-if="pageSize > 1">
	<div ng-if="pool.menuAction!='RepayBindAccount'" class="col-xs-offset-0 col-xs-5" style="border:0px blue solid;">
		<button type="button" class="col-xs-offset-5 col-xs-2 image-btor" ng-click="action('return')">结束</button>
	</div>
	<div ng-if="pool.menuAction=='RepayBindAccount'" class="col-xs-offset-0 col-xs-5" style="border:0px blue solid;">
		<button type="button" class="col-xs-offset-5 col-xs-2 image-btor" ng-click="action('return')">返回</button>
	</div>
	<div class=" col-xs-offset-0 col-xs-7 "style="border:0px blue solid;">
		<div class="col-xs-offset-0 col-xs-2"style="border:0px red solid;">
			<button  type="button" class="col-xs-offset-1 col-xs-2 image-btgr"  ng-hide="Prev"ng-click="next(-1)">上一页</button>
		</div>
		<div class="col-xs-offset-4 col-xs-2" style="border:0px red solid;">
			<button  type="button"  class="col-xs-offset-1 col-xs-2 image-btgr"   ng-hide="Next"    ng-click="next(1)">下一页</button>
		</div>
	</div>
 </div>
 <div ng-if="pageSize <= 1">
	<div ng-if="pool.menuAction!='RepayBindAccount'" style="border:0px blue solid;">
		<button type="button" class="col-xs-offset-5 col-xs-2 image-btor" ng-click="action('return')">结束</button>
	</div>
	<div ng-if="pool.menuAction=='RepayBindAccount'" style="border:0px blue solid;">
		<button type="button" class="col-xs-offset-5 col-xs-2 image-btor" ng-click="action('return')">返回</button>
	</div>
 </div>
</div>