<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
#RepayTypeselect{
	border:solid 1px blue;/*边框*/
	appearance :none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*清除选择框默认样式*/
	 background:url('./image/select.png') no-repeat scroll  center transparent;
	 background-size:cover;
	 padding-right:40px;
	 /*下拉箭头位置*/
	 box-shadow:0 0px 0px #000 inset;
	 /*阴影效果*/
}
 /*隐藏默认的下拉箭头*/
	 select::-ms-expand{
	 display:none;
 }
</style>
<script language="JavaScript" type="text/JavaScript">
document.getElementById("MUSIC1").src = "";
var scope = angular.element(main).scope();
  creatTree(0,"");
  function Show(type,x,y){
	  try {
  HandWrite.Show(type,1,x,y);
	 } catch (e) {
	 	//alert(e);
		scope.closeHandWriter();
		location.reload();
	 return;
	
	 }
}
function Hide(){

  try {
   HandWrite.Hide();
 } catch (e) {
	 //	alert(e);
	 return;
	 }
}	 
function openkeyset(type,x,y)
{

Show(type,x,y)
  
}

scope.$watch('pool.pid', function(){
if(undefined!=scope.pool["pid"]){
	if(scope.pool["ST_RepayType"] == "T"){
		document.getElementById("RepayTypeselect").value="全额还款";
	}else if(scope.pool["ST_RepayType"] == "M"){
		document.getElementById("RepayTypeselect").value="最小还款额还款";
	}
}
});

function commit(){
 Hide();
 var scope = angular.element(main).scope();
 var RepayTypeselect = document.getElementById("RepayTypeselect").value;
 if(document.getElementById("RepayTypeselect").value == "--可选择还款方式--")
  {
	$("#RepayTypeselect").attr("data-content", "请选择自动还款方式");
	$("#RepayTypeselect").popover('show');
  }else{
	if(RepayTypeselect == "全额还款"){
		scope.pool["ST_RepayType"] = "T";
	}else if(RepayTypeselect == "最小还款额还款"){
		scope.pool["ST_RepayType"] = "M";
	}
	scope.action("submit");
  }
}

function select()
{
 if(document.getElementById("RepayTypeselect").value != "--可选择还款方式--")
 {
     $("#RepayTypeselect").popover('destroy');
	 document.getElementById("RepayType").value = document.getElementById("RepayTypeselect").value;
 }
}	
</script>
<div class="container indicates"> 
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="container step col-xs-offset-1 col-xs-10" style="margin-top:0%;border:1px blue solid;border-radius:10px 10px 10px 10px;box-shadow:0 0 0px blue">
<h3  style="font-size:34px;margin-top:0px;text-align: center;">请填写信用卡自动还款账户绑定表单</h3>
  <form class="form-horizontal" style="margin-top:0%;margin-left:25%">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label" style="margin-top:15px;margin-left:-18px;color:#000000">户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="text" class='form-control' style='margin-top:15px;background:#C0C0C0;border:1px blue solid;box-shadow:0 0px 0px #000 inset'  id="accountName" value="{{pool.accountName}}" disabled="disabled" readonly>
      </div>
    </div>
	<div class="form-group">
      <label for="name" class="col-sm-2 control-label" style="margin-top:15px;margin-left:-18px;color:#000000">贷记卡号</label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="text" class='form-control' style='margin-top:15px;background:#C0C0C0;border:1px blue solid;box-shadow:0 0px 0px #000 inset'  id="cardNo" value="{{pool.CreditPayerAcc}}" disabled="disabled" readonly>
      </div>
    </div>
	<div class="form-group">
      <label for="name" class="col-sm-2 control-label" style="margin-top:15px;margin-left:-18px;color:#000000">代扣账号</label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="text" class='form-control' style='margin-top:15px;background:#C0C0C0;border:1px blue solid;box-shadow:0 0px 0px #000 inset'  id="payeracc" value="{{pool.payeracc}}" disabled="disabled" readonly>
      </div>
    </div>
	<div class="form-group">
      <label for="pid" class="col-sm-2 control-label" style="margin-top:15px;margin-left:-18px;color:#000000;">身份证号</label>
      <div class="col-sm-4" style="margin-left:18px">
        <input type="text" style='margin-top:15px;background:#C0C0C0;border:1px blue solid;box-shadow:0 0px 0px #000 inset'  class="form-control" id="pid"  value="{{pool.pid}}" disabled="disabled" readonly>
      </div>
    </div>
	<div class="form-group">
      <label for="telephone" class="col-sm-2 control-label" style="margin-top:15px;margin-left:-18px;color:#000000">自动还款方式
      </label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="tel" style="display:none;border:1px blue solid;box-shadow:0 0px 0px #000 inset" onkeyup="checkInput(id)" onclick="openkeyset(2,900,350)" placeholder="请选择或输入挂失类型"  class="form-control" data-container="body" id="RepayType"   >
        <select class="form-control selectpicker" onchange="select()"  id="RepayTypeselect" style="margin-top:15px;border:1px blue solid;box-shadow:0 0px 0px #000 inset"
			title="<sp class='fg-red'>还款方式有误</sp>" data-content=""    data-html="true" data-placement="right">
          <option  disabled selected >--可选择还款方式--</option>
          <option>全额还款</option>
          <option>最小还款额还款</option>
        </select>
      </div>
	  <sp class='fg-red glyphicon glyphicon-star' style="float:left;margin-top:25px"></sp>
    </div>
	
  </form>
</div>
</br>
</br>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="border:0px blue solid;">
    <button id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-bt" ng-click="action('return')">返回</button>
	<button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="commit()">提交</button>
</div>
<object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49 id="HandWrite">
</object>
