<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
document.getElementById("date").focus();
</script>
  <div class="container indicates">
	  <div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
		<span class="">{{timeout}}<span>
		</div>
    </div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
    <h1 class="text-center">请输入年月,例如:201601</h1>
    <h3 class="text-center">Please enter the month,Example:201601</h3>
</div>
<object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49 id="HandWrite"></object>
<div class="step1">
   	<form class="navbar-form" role="search" >
<div class="col-xs-offset-0 col-xs-12">
<div class="input-group input-group-lg button-navbor1">
	  <input type="text" onclick="openkeyset(1,490,350)" class="form-control" onkeyup="checkInput(id),this.value=this.value.replace(/\D/g,'')" 
                    id="date" value="" onblur="this.focus()" ng-model="pool.CreditStatementDate" maxlength="6"
                    data-container="body"  data-placement="left"  title="<sp class='fg-red'>年月输入有误</sp>" data-content="" data-html="true">             
	<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="_delete()">更  正</button>
		  </span>
	</div><!-- /input-group -->
	</div>
	</form>
	</div>
</div>
<br>
<br>
<div style="margin-top:31%">
	 <div>
    	<button type="button" class="col-xs-offset-3 col-xs-2 image-bt" ng-click="action('eject')">退卡</button>
	    <button id="cancel" type="button" class="col-xs-offset-1 col-xs-2 image-btor" ng-click="action('return')">返回</button>
	    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="resetModel('date','CreditStatementDate');checkDate()">确认</button>
   </div>
</div>