<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript">
	document.getElementById("phone").focus();
	function Show(type,x,y){
	  try {
			HandWrite.Show(type,1,x,y);
		} catch (e) {
			//alert(e);
			scope.closeHandWriter();
			location.reload();
			return;
		}
	}
	
	function openkeyset(type,x,y){
		Show(type,x,y)
	}
	
	function checkUser(){
		var scope = angular.element(main).scope();
		var phone = document.getElementById("phone").value;
		var ST_SmsSignMobileDetail = scope.pool['ST_SmsSignMobileDetail'];
		var reg = /^[1-9]\d{10}$/; //11位号码必须非0开头
		var flag = 0;
		if(phone.length<11){
			$("#phone").attr("data-content","请输入11位手机号");
			$("#phone").popover('show');
		}else if(!reg.test(phone)){
			$("#phone").attr("data-content","请输入正确的手机号");
			$("#phone").popover('show');
		}else{
			if(null != ST_SmsSignMobileDetail && ST_SmsSignMobileDetail.length > 0){
				var _SmsSignMobileDetail = ST_SmsSignMobileDetail.split('#');
				for (var i=0; i<_SmsSignMobileDetail.length; i++){
					var SmsSignMobileDetails = _SmsSignMobileDetail[i].split('@');
					if(phone == SmsSignMobileDetails[0]){
						flag = 1;
						break;
					}
				}
			}
			if(flag == 1){
				$("#phone").attr("data-content","请勿输入重复的手机号");
				$("#phone").popover('show');
			}else{
				scope.pool["mobile"] = document.getElementById("phone").value;
				scope.action("confirm");
			}
		}
	}
</script>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">

<div class="cook-head">
    <h1 class="text-center">请输入短信业务新增手机号</h1>	
</div>
<div class="step1">
	</br></br></br></br></br>
	  <form class="form col-xs-offset-3 col-xs-6" style="border:0px #FFFFFF solid;">
		<div class="col-xs-offset-2 col-lg-8" style="border:0px #FFFFFF solid;">
		  <div class="input-group input-group-lg"> <span class="input-group-addon">手机号：</span>
			<input type="text" id="phone" maxlength="11" onclick="openkeyset(1,900,500)"  onkeyup="checkInput(id),this.value=this.value.replace(/\D/g,'')" class="form-control" data-container="body"  data-placement="right" 
		   title="<sp class='fg-red'>手机输入有误 </sp>" data-content="" class="form-control"  data-html="true">      
		  </div>
		</div>
	<sp class='fg-red glyphicon glyphicon-star' style="float:left;margin-top:15px"></sp>
	</form>
</div>
</div>

<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
    <button id="cancel" type="button" class="col-xs-offset-3 col-xs-2 image-bt" ng-click="action('eject')">结束</button>	
	<button type="button" class="col-xs-offset-1 col-xs-2 image-btor" ng-click="action('return')">返回</button>
	<button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="checkUser();">确认</button>
</div>

<object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49 id="HandWrite">
</object>