<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}
#FeeSelect{
	border:solid 1px red;/*边框*/
	appearance :none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*清除选择框默认样式*/
	 background:url('./image/select1.png') no-repeat scroll  center transparent;
	 background-size:cover;

	 padding-right:40px;
	 /*下拉箭头位置*/
	 box-shadow:0 0px 0px #000 inset;
	 /*阴影效果*/
}
 /*隐藏默认的下拉箭头*/
	 select::-ms-expand{
	 display:none;
 }
</style>
<script language="JavaScript" type="text/JavaScript">

creatTree(0,"");
  function Show(type,x,y){
	  try {
  HandWrite.Show(type,1,x,y);
	 } catch (e) {
	 	//alert(e);
		scope.closeHandWriter();
		location.reload();
	 return;
	
	 }
}
function Hide(){

  try {
   HandWrite.Hide();
 } catch (e) {
	 //	alert(e);
	 return;
	 }
}	 
function openkeyset(type,x,y)
{

Show(type,x,y)
  
}



function commit(){
 Hide();
 var scope = angular.element(main).scope();
 var packType = document.getElementById("packType").value;
 var FeeSelect = document.getElementById("FeeSelect").value;
  if(packType.length <= 0)
  {
	$("#packType").attr("data-content", "套餐类型不能为空");
	$("#packType").popover('show');
  }else if(FeeSelect.length <= 0 ||  "--请选择收费类型--"==FeeSelect ){
	$("#FeeSelect").attr("data-content", "收费类型不能为空");
	$("#FeeSelect").popover('show');
  }else{
	if("01-按年" == FeeSelect){
		scope.pool["ST_QY_fee"] = "01";
	}else if("02-按月" == FeeSelect){
		scope.pool["ST_QY_fee"] = "02";
	}else if("03-免费" == FeeSelect){
		scope.pool["ST_QY_fee"] = "03";
	}
	scope.action("confirm");
  }
}


function selectFee()
{
 if(document.getElementById("FeeSelect").value != "--请选择收费类型--")
 {
	$("#FeeSelect").popover('destroy');
	 document.getElementById("Fee").value = document.getElementById("FeeSelect").value;
 }
}
</script>
<div class="container indicates"> 
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="container step col-xs-offset-1 col-xs-10" style="margin-top:0%;border:1px blue solid;border-radius:10px 10px 10px 10px;box-shadow:0 0 0px red">
<h3  style="font-size:34px;margin-top:0px;text-align: center;">选择短信签约套餐和收费类型</h3>

  <form class="form-horizontal" style="margin-top:3%;margin-left:25%">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label" style="margin-top:18px;margin-left:-18px;color:#000000">套餐类型</label>
      <div class="col-sm-4" style="margin-left:18px;">
        <input type="text" class='form-control' style='background:#C0C0C0;border:1px blue solid;box-shadow:0 0px 0px #000 inset'  id="packType" value="{{pool.ST_QY_packId}}{{pool.ST_Name}}" disabled="disabled" readonly>
      </div>
	  <sp class='fg-red glyphicon glyphicon-star' style="float:left;margin-top:30px"></sp>
    </div>
	
    <div  class="form-group">
      <label  for="fee" class="col-sm-2 control-label" style="margin-top:35px;margin-left:-18px;color:#000000">收费类型</label>
	  <div  style="visibility:hidden;">
      <div class="col-sm-4" style="margin-left:18px;">
        <input style="display:none;border:1px blue solid;box-shadow:0 0px 0px #000 inset" onkeyup="checkInput(id)" onclick="openkeyset(2,900,500)" placeholder="请选择收费类型"  class="form-control" data-container="body" data-placement="right"
    			  title="<sp class='fg-red'>收费类型有误 </sp>" data-content=""    data-html="true" id="Fee"   >
    	<div id="dtName" style="visibility:visible;">
        <select class="form-control selectpicker" onchange="selectFee()" id="FeeSelect" style="margin-top:35px;border:1px blue solid;box-shadow:0 0px 0px #000 inset"
			title="<sp class='fg-red'>收费类型有误 </sp>" data-content=""    data-html="true" data-placement="right">
          <option ng-if="pool.ST_Pay == '1'">01-按年</option>
		  <option ng-if="pool.ST_Pay == '1'">02-按月</option>
		  <option ng-if="pool.ST_Pay == '0'">03-免费</option>
		</select>
		</div>
	  </div>
	  </div>
	  <sp class='fg-red glyphicon glyphicon-star' style="float:left;margin-top:43px"></sp>
    </div>
  </form>
</div>

<div class="cook-foot col-xs-offset-0 col-xs-12" style="border:0px blue solid;">
	<button type="button" class="col-xs-offset-3 col-xs-2 image-btor" ng-click="action('return')">返回</button>
    <button id="cancel" type="button" class="col-xs-offset-1 col-xs-2 image-bt" ng-click="action('eject')">结束</button>
    <button id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="commit()">确定</button>
</div>
<object classid=clsid:BB4FCD33-750A-405A-9FEE-55447EFBDB49 id="HandWrite">
</object>
