<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../bower_components/icheck/icheck.min.js"></script>
<script language="javascript" type="text/javascript">
	creatTree(0,"");

	function SmsCancelConfirm(){
		var scope = angular.element(main).scope();
		var _SmsSignAcDetail = scope.pool["ST_SmsSignAcDetail"].split('#');
		var ST_SmsCancelCheck = scope.pool["ST_SmsCancelCheck"];
		var details = "";
		if(ST_SmsCancelCheck == null || ST_SmsCancelCheck.length == 0){
			document.getElementById("showMsg").innerHTML ="提示:至少选择一个账户";
		}else{
			_SmsCancelCheck = ST_SmsCancelCheck.split('@');
			for (var i = 0; i < _SmsCancelCheck.length; i ++) {
				for(var j = 0; j < _SmsSignAcDetail.length; j ++){
					var SmsSignAcDetails = _SmsSignAcDetail[j].split('@');
					if(_SmsCancelCheck[i] == SmsSignAcDetails[1]){
						if(details.length <= 0){
							details += _SmsSignAcDetail[j];
						}else{
							details += "#" + _SmsSignAcDetail[j];
						}
						break;
					}
				}
				
			}
			if(_SmsCancelCheck.length == _SmsSignAcDetail.length){
				scope.pool["ST_SmsSignFlag"] = 3;
			}else{
				scope.pool["ST_SmsSignFlag"] = 2;
			}
			scope.pool["ST_SmsCancelAcDetail"] = details;
			scope.action("confirm");
		}
	}
	
	
	
	function Select(isChecked,id){
		var scope = angular.element(main).scope();
		var pageNo = parseInt(scope.pageNo);
		var count = id;
		var AccDetails = ""
		var flag = false;
		var AccDetail = scope.pool["ST_SmsCancelCheck"];
		var _AccDetail = ""
		if(isChecked){
			if(AccDetail == null || AccDetail.length == 0){
				AccDetail = count + "";
			}else{
				_AccDetail = AccDetail.split('@');
				for (var i = 0; i < _AccDetail.length; i ++) {
					if(_AccDetail[i] == count){
						flag = true;
						break;
					}
				}
				if(flag == false){
					AccDetail += "@" + count;
				}
			}
		}else{
			if(AccDetail != ""){
				_AccDetail = AccDetail.split('@');
				for (var j = 0; j < _AccDetail.length; j ++) {
					if(_AccDetail[j] != count){
						if(AccDetails == ""){
							AccDetails = _AccDetail[j]
						}else{
							AccDetails += "@" + _AccDetail[j]
						}
					}
				}
				AccDetail = AccDetails;
			}
			document.getElementById("allcheck").checked=false;
		}
		scope.pool["ST_SmsCancelCheck"] = AccDetail;
	}
	
	var scope = angular.element(main).scope();
	function check(){
		var ST_SmsCancelCheck = scope.pool["ST_SmsCancelCheck"];
		if(ST_SmsCancelCheck != null && ST_SmsCancelCheck.length > 0){
			_SmsCancelCheck = ST_SmsCancelCheck.split('@');
			for (var i = 0; i < _SmsCancelCheck.length; i ++) {
				if(null != document.getElementById(_SmsCancelCheck[i])){
					document.getElementById(_SmsCancelCheck[i]).checked=true;
				}
			}
		}
	}
	
	function SelectAll(isChecked){
		var _SmsSignAcDetail = scope.pool["ST_SmsSignAcDetail"].split('#');
		var detail = ""
		if(isChecked){
			for (var i = 0; i < _SmsSignAcDetail.length; i ++) {
				var SmsSignAcDetails = _SmsSignAcDetail[i].split('@');
				if(i == 0){
					detail += SmsSignAcDetails[1];
				}else{
					detail += "@"+SmsSignAcDetails[1];
				}
			}
			scope.pool["ST_SmsCancelCheck"] = detail;
			setTimeout(function(){
			check();
			},100);
		}else{
			scope.pool["ST_SmsCancelCheck"] = "";
			for(var k = 0; k < _SmsSignAcDetail.length; k ++){
				var SmsSignAcDetails = _SmsSignAcDetail[k].split('@');
				if(null != document.getElementById(SmsSignAcDetails[1])){
					document.getElementById(SmsSignAcDetails[1]).checked=false;
				}
			}
		}
	}
	
	scope.checkboxClickNext = function() {
		scope.next(1);
		setTimeout(function(){
		check();
		},100);
	}
	
	scope.checkboxClickPrev = function() {
		scope.next(-1);
		setTimeout(function(){
		check();
		},100);
	}
</script>
<style>
   .cssinput{
      height:20px;
	  width:20px;
   }
</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
	<h1 class="text-center">请选择需要解约的账户</h1>
</div>
<table class="table-striped  table-bordered" width="100%" style="text-align:center;">
	  <input type="checkbox" id="allcheck" name="allcheckbox" class="cssinput" onclick="SelectAll(this.checked)">&nbsp;&nbsp;全选
      <tr style="font-weight:bold;font-size:16px;">
		 <td ></td>
         <td height="33px">卡号</td>
		 <td height="33px">签约日期</td>
      </tr>
      <tr ng-repeat="x in detail" >
		  <td><input type="checkbox" id={{x.key1}} name="checkbox" class="cssinput" onclick="Select(this.checked,id)"></td>
	      <td height="33px"><label for={{x.key1}}>{{ x.key1}}</label></td>
		  <td height="33px"><label for={{x.key1}}>{{pool.ST_SmsSignDate}}</label></td>
      </tr>
 </table>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
 <div class="col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
	<div  id = "showMsg" style ="text-align:center;margin-bottom:18px;height :20px; font-size :20px;color:red" >
	</div>
 	<h1 class="text-center" style="font-size: 140%;">第{{pageNo}}页,共{{pageSize}}页</h1>	
 </div>
 <div ng-if="pageSize > 1">
	<div class=" col-xs-offset-0 col-xs-6 "style="border:0px blue solid;">
		<button  id="cancel" type="button" class="col-xs-offset-2 col-xs-2 image-bt" ng-click="action('return')">结束</button>
		<button  id="confirm" type="button" class="col-xs-offset-3 col-xs-2 image-btgr" onclick="SmsCancelConfirm()">确认</button>
	</div>

	<div class=" col-xs-offset-0 col-xs-6 "style="border:0px blue solid;">
		<div class="col-xs-offset-1 col-xs-2"style="border:0px red solid;">
			<button  type="button" class="col-xs-offset-1 col-xs-2 image-btor"  ng-hide="Prev" ng-click="checkboxClickPrev();">上一页</button>
		</div>
		<div class="col-xs-offset-4 col-xs-2" style="border:0px red solid;">
			<button  type="button"  class="col-xs-offset-1 col-xs-2 image-btor" ng-hide="Next" ng-click="checkboxClickNext();">下一页</button>
		</div>
	</div>
 </div>
 <div ng-if="pageSize <= 1">
	<button  id="cancel" type="button" class="col-xs-offset-4 col-xs-2 image-bt" ng-click="action('return')">结束</button>
	<button  id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="SmsCancelConfirm()">确认</button>
 </div>
</div>