<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../bower_components/icheck/icheck.min.js"></script>
<script language="javascript" type="text/javascript">
	creatTree(0,"");
	var scope = angular.element(main).scope();
	
	scope.delTel = function (pid) {
		var _detail = scope.pool["ST_SmsSignMobileDetail"].split('#');
		for (var i = 0; i < _detail.length; i ++) {
			if (pid == _detail[i].split('@')[0]) {
				scope.pool["ST_SmsModifyDelPhone"] = pid;
				break;
			}
		}
		scope.action("submit");
	}
	
	function SmsModifyConfirm(){
		var ST_SmsSignMobileDetail = scope.pool["ST_SmsSignMobileDetail"]
		if(null != ST_SmsSignMobileDetail && ST_SmsSignMobileDetail.length > 0){
			var _SmsSignMobileDetail = ST_SmsSignMobileDetail.split('#');
			if(_SmsSignMobileDetail.length > 3){
				document.getElementById("showMsg").innerHTML ="提示:最多存在三个手机号";
			}else{
				scope.pool["ST_SmsModifyPhoneDetail"] = ST_SmsSignMobileDetail;
				scope.action("confirm");
			}
		}else{
			document.getElementById("showMsg").innerHTML ="提示:至少存在一个手机号";
		}
	}
	
	function SmsModifyAdd(){
		var ST_SmsSignMobileDetail = scope.pool["ST_SmsSignMobileDetail"]
		if(null != ST_SmsSignMobileDetail && ST_SmsSignMobileDetail.length > 0){
			var _SmsSignMobileDetail = ST_SmsSignMobileDetail.split('#');
			if(_SmsSignMobileDetail.length > 2){
				document.getElementById("showMsg").innerHTML ="提示:最多存在三个手机号";
			}else{
				scope.action("submit2");
			}
		}else{
			scope.action("submit2");
		}
	}
</script>
<style>
   .cssinput{
      height:20px;
	  width:20px;
   }
</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>
<div class="col-xs-offset-1 col-xs-10" style= "border:0px blue solid;">
<div class="cook-head">
	<h1 class="text-center">请增加或删除签约手机号</h1>
</div>
<div style="overflow:auto;">
<table class="table-striped  table-bordered" width="100%" style="text-align:center;">
      <tr style="font-weight:bold;font-size:16px;">
         <td height="33px">手机号</td>
		 <td height="33px">操作</td>
      </tr>
      <tr ng-repeat="x in detail" >
	      <td height="33px">{{ x.key0}}</td>
		  <td height="33px">
			<span class="input-group-btn" ng-if="$index != '0'">
                <button class="btn btn-primary" type="button" ng-click="delTel(x.key0)">删除</button>
            </span>
		  </td>
      </tr>
	  <tr style="font-weight:bold;font-size:16px;">
         <td height="33px"></td>
		 <td height="33px">
		   <span class="input-group-btn">
			  <button class="btn btn-danger" type="button" onclick="SmsModifyAdd()">添加</button>
		   </span>
		 </td>
      </tr>
 </table>
</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
 <div class="col-xs-offset-0 col-xs-12 "style="border:0px red solid;">
	<div  id = "showMsg" style ="text-align:center;margin-bottom:18px;height :20px; font-size :20px;color:red" >
	</div>
 	<h1 ng-if="pool.ST_SmsSignMobileDetail != null && pool.ST_SmsSignMobileDetail != ''" class="text-center" style="font-size: 140%;">第{{pageNo}}页,共{{pageSize}}页</h1>	
	<h1 ng-if="pool.ST_SmsSignMobileDetail == null || pool.ST_SmsSignMobileDetail == ''" class="text-center" style="font-size: 140%;">第1页,共1页</h1>	
 </div>
 
 
<div ng-if="pageSize > 1">
	    <div class=" col-xs-offset-1 col-xs-2 "style="border:0px blue solid;">
			<button  id="return" type="button" class="col-xs-offset-2 col-xs-2 image-bt" ng-click="action('return')">返回</button>
		</div>
		<div class=" col-xs-offset-0 col-xs-2 "style="border:0px blue solid;">
			<button  id="cancel" type="button" class="col-xs-offset-2 col-xs-2 image-bt" ng-click="action('eject')">结束</button>
		</div>
		<div class=" col-xs-offset-0 col-xs-2 "style="border:0px blue solid;">
			<button  id="confirm" type="button" class="col-xs-offset-3 col-xs-2 image-btgr" onclick="SmsModifyConfirm()">继续</button>
		</div>
		<div class=" col-xs-offset-0 col-xs-5"style="border:0px blue solid;">
			<div class="col-xs-offset-1 col-xs-2"style="border:0px red solid;">
				<button  type="button" class="col-xs-offset-1 col-xs-2 image-btor"  ng-hide="Prev"    ng-click="next(-1)">上一页</button>
			</div>
			<div class="col-xs-offset-3 col-xs-2" style="border:0px red solid;">
				<button  type="button"  class="col-xs-offset-1 col-xs-2 image-btor"  ng-hide="Next"  ng-click="next(1)">下一页</button>
			</div>
		</div>
 </div>

 
  <div ng-if="pageSize == null || pageSize <= 1">
		<button  id="return" type="button" class="col-xs-offset-3 col-xs-2 image-btgr image-bt" ng-click="action('return')">返回</button>
		<button  id="cancel" type="button" class="col-xs-offset-1 col-xs-2 image-bt" ng-click="action('eject')">结束</button>
		<button  id="confirm" type="button" class="col-xs-offset-1 col-xs-2 image-btgr" onclick="SmsModifyConfirm()">继续</button>
 </div>
 
 
 
</div>