<script language="JavaScript" type="text/JavaScript"> 
document.getElementById("img").src ="d:/sign.png"+"?"+Math.random();

var scope = angular.element(main).scope();
scope.$watch('pool.pid', function(){
if(true){	
	var SmsModifyAc = "";
	var _SmsCancelAcDetail = scope.pool["ST_SmsModifyAcDetail"].split('#');
	var num1 = 0;
	var num2 = 0;
	for (var i = 0; i < _SmsCancelAcDetail.length; i ++){
		var SmsCancelAcDetails = _SmsCancelAcDetail[i].split('@');
		if(SmsModifyAc == ''){
			SmsModifyAc += SmsCancelAcDetails[1];
			num1 += 1;
		}else{
			SmsModifyAc += '|' + SmsCancelAcDetails[1];
			num1 += 1;
			if(num1 % 3 == 0){
				SmsModifyAc += "</br>";
			}
		}
	}
	$("#SmsModifyAc").html(SmsModifyAc);
	
	var SmsModifyMobile = "";
	var _SmsSignMobileDetail = scope.pool["ST_SmsModifyPhoneDetail"].split('#');
	for (var j = 0; j < _SmsSignMobileDetail.length; j ++){
		var SmsSignMobileDetails = _SmsSignMobileDetail[j].split('@');
		if(SmsModifyMobile == ''){
			SmsModifyMobile += SmsSignMobileDetails[0];
			num2 += 1;
		}else{
			SmsModifyMobile += '|' + SmsSignMobileDetails[0];
			num2 += 1;
			if(num2 % 6 == 0){
				SmsModifyMobile += "</br>";
			}
		}
	}
	$("#SmsModifyMobile").html(SmsModifyMobile);
}
});
</script>
<style  type="text/css">
body{
	overflow-x:hidden;
    overflow-y:hidden;
}

</style>
<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
    <span class="">{{timeout}}</span>
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10" style="border:0px #FFFFFF solid;">
 <p style="font-size:30px;color:#000000;" class="text-center">江苏农村商业银行短信银行签约申请单</p>
 <div>
 <table border="0" cellpadding="0" cellspacing="0" class="col-xs-offset-1 col-xs-12" style="margin-top:5%"> 
 <tr>
	  <td  width="10%"><span style="font-size:20px;color:#000000">姓名:</span></td>
	  <td  width="40%"><span style="font-size:20px;color:#000000">{{pool.name}}</span></td>
	  <td  width="10%"><span style="font-size:20px;color:#000000">性别:</span></td>
	  <td  width="40%"><span style="font-size:20px;color:#000000">{{pool.genderC}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">签发机关:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.issueoffice}}</span></td>
	  <td><span style="font-size:20px;color:#000000">有效日期:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.abatedate}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000;">终端号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_terminalId}}</span></td>
      <td><span style="font-size:20px;color:#000000;">受理柜员:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.Apply_tellerno}}</span></td>
 </tr>
 <tr>
    <td><span style="font-size:20px;color:#000000">申请日期:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transDate.substring(0,4)+"/"+pool.transDate.substring(4,6)+"/"+pool.transDate.substring(6,8)}}</span></td>
	<td><span style="font-size:20px;color:#000000;">申请时间:</span></td>
	<td style=""><span style="font-size:20px;color:#000000;">{{pool.transTime.substring(0,2)+":"+pool.transTime.substring(2,4)+":"+pool.transTime.substring(4,6)}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">交易类型:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">短信银行签约</span></td>
	  <td><span style="font-size:20px;color:#000000;">身份证号:</span></td>
	  <td style=""><span style="font-size:20px;color:#000000;">{{pool.pid}}</span></td>
 </tr>
 <tr>
	  <td><span style="font-size:20px;color:#000000">套餐类型:</span></td>
	  <td ng-if="pool.ST_QY_packId=='504'" style=""><span style="font-size:20px;color:#000000;">个人账户变动套餐</span></td>
	  <td ng-if="pool.ST_QY_packId=='505'" style=""><span style="font-size:20px;color:#000000;">企业账户变动套餐</span></td>
	  <td ng-if="pool.ST_QY_packId=='506'" style=""><span style="font-size:20px;color:#000000;">个人收费套餐</span></td>
	  <td><span style="font-size:20px;color:#000000;">收费类型:</span></td>
	  <td ng-if="pool.ST_QY_fee=='01'" style=""><span style="font-size:20px;color:#000000;">按年</span></td>
	  <td ng-if="pool.ST_QY_fee=='02'" style=""><span style="font-size:20px;color:#000000;">按月</span></td>
	  <td ng-if="pool.ST_QY_fee=='03'" style=""><span style="font-size:20px;color:#000000;">免费</span></td>
 </tr>
 <tr>
    <td ><span style="font-size:20px;color:#000000">帐号:</span></td>
	<td colspan = 3><span style="font-size:20px;color:#000000;" id="SmsModifyAc"></span></td>
</tr>
<tr>
    <td ><span style="font-size:20px;color:#000000">手机号:</span></td>
	<td colspan = 3><span style="font-size:20px;color:#000000;" id="SmsModifyMobile"></span></td>
</tr>
<tr style="">
<td colspan = 4 style="font-size:20px;color:#000000;">客户签名：<img id="img" src=""  style="width:100px; height:50px"></span></td>
</tr>
</table>


	 
</div>
</div>
 </div>
 <div class=" col-xs-offset-3 col-xs-12" style="margin-top:10%;">
	<button type="button" ng-click="action('return')"  class="col-xs-offset-1 col-xs-2 image-bt" >取消</button>
	<button type="button"  ng-click="action('confirm')" class="col-xs-offset-1 col-xs-2 image-btgr" >确认</button>
</div>

