<div class="container indicates">
	<div class="timeout pull-right"  style="width:200px;height:100px;background:url(image/倒计时.png)no-repeat center; text-align:center;line-height:380%;color:f00;font-size:200%" >
		<span class="">{{timeout}}<span>
		</div>
</div>
<div class="container step col-xs-offset-0 col-xs-12">
	<h1 class="text-center">请将存折翻至第{{pool.FixPageSum}}页并插入存折</h1>
	<h3 class="text-center">Please turn page and insert the Passbook</h3>
	
        <div class="step">
            <img src="image/turnPagePBK.gif" class="col-xs-offset-4 col-xs-4">
    	</div>
</div>
<div class="cook-foot col-xs-offset-0 col-xs-12" style="text-align: center;">
	<button id="cancel" type="button" class="  image-bt" ng-click="action('cancel')">取消</button>
</div>